# Introduction

To use this module, install the following libraries:
<li> pandas 2.2.0 or higher </li>
<li> sqlalchemy 2.0 or higher </li>
<li> pathlib </li>
<li> pyexcelerate </li>
<li> openpyxl </li>

## Import module and set initial conditions

In [1]:
import py_sql
from py_sql import *
import warnings

# Display all columns in dataframe
pd.options.display.max_columns = None
# Ignore all warnings
warnings.filterwarnings('ignore')

schema = 'HCPH_RENNIELBAUTISTA'
my_credentials = get_credentials('my_credentials.txt',schema)

C:\Users\Renniel.Bautista\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Folder path C:\Users\Renniel.Bautista\Documents\Python-Oracle\Excel does not exists. Creating new directory.

# Generate SQL Script

This section showcases three functions that outputs SQL statements as string for: creating TABLE object, merging to existing table with pre-defined query, and creating PACKAGE object.

## Create TABLE

### Pre-requisites
Define table_name, sample query with rownum filter, and generate dataframe.

In [2]:
table_name = 'AH_RBB_POS_EC_SCORECARD_MONITORING'

In [3]:
query = f"""
with tab_base as
(
select
       dm.id_cuid
      -- Basic Scoring
      ,case
            when dm.text_contract_number is not null
            then 1 else 0
       end                                                                      flag_with_app
      ,dm.text_contract_number
      ,dm.date_application
      ,dm.pure_population
      ,dm.pure_population_pre
      ,dm.prelim1_strategy_type
      ,dm.risk_grade_prelim1
      ,dm.flag_with_offer_v2_prelim1
      ,dm.flag_with_offer_v2
      -- DPOS Tags
      ,dm.flag_with_dpos_offer_prelim1
      ,dm.flag_with_dpos_offer
      ,dm.code_prm_decision
      ,case when bs.text_contract_number is not null then 1
            when dm.text_contract_number is not null then 0
       end                                                                      flag_dpos_app
      -- Basic Scoring Decision
      ,dm.cnt_approve                                                           flag_approve
      ,dm.cnt_decided                                                           flag_decided
      ,dm.cnt_signed                                                            flag_signed
      -- Basic Scoring Scores
      ,sa.*
from ap_risk.pos_ec_datamart_tree dm
left join ap_risk.dpos_basic_scoring bs
       on bs.text_contract_number = dm.text_contract_number
      and bs.date_application = date '2024-12-20'
left join ap_risk.uw_bi_scorecard_dtm sa
       on sa.skp_credit_case = dm.skp_credit_case
      and sa.date_decision = date '2024-12-20'
      and sa.scorecard_name in (
                               'EC_202201_GMv8_Main_Scorecard'
                              ,'EC_202110_GMv8_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Main_Scorecard'
                              )
where 1=1
      and dm.date_application = date '2024-12-20'
      and rownum <= 5
)

, tab_gm_pillar as
(
select
       tb.*
from tab_base
unpivot(
        (pillar_name,num_score_value_linear_pillar,num_score_value_pillar)
        for num_pillar_code
        in (
            (pillar_1,   pillar_value_linear_1,  pillar_value_1)    as '1'
           ,(pillar_2,   pillar_value_linear_2,  pillar_value_2)    as '2'
           ,(pillar_3,   pillar_value_linear_3,  pillar_value_3)    as '3'
           ,(pillar_4,   pillar_value_linear_4,  pillar_value_4)    as '4'
           ,(pillar_5,   pillar_value_linear_5,  pillar_value_5)    as '5'
           ,(pillar_6,   pillar_value_linear_6,  pillar_value_6)    as '6'
           ,(pillar_7,   pillar_value_linear_7,  pillar_value_7)    as '7'
           ,(pillar_8,   pillar_value_linear_8,  pillar_value_8)    as '8'
           ,(pillar_9,   pillar_value_linear_9,  pillar_value_9)    as '9'
           )
       ) tb
)

select
       count(1) over(partition by scom.id_cuid, scom.skp_credit_case) cnt_predictor_in_skp
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name) cnt_predictor_in_sco
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name, scom.pillar_name) cnt_predictor_in_pil
      ,scom.*
      ,scop.num_predictor_code
      ,scop.predictor_name
      ,scop.predictor_value                                                     num_score_value_linear_predictor
      ,trunc(1/(1+exp(-(scop.predictor_value))),6)                              num_score_value_predictor
      ,scop.predictor_bin
from tab_gm_pillar scom
left join (
            select * from ap_risk.uw_bi_scorecard_predictors_dtm
            unpivot(
                    (predictor_name,predictor_value,predictor_bin)
                    for num_predictor_code
                    in (
                        (predictor_1,   predictor_score_1,  predictor_bin_1)    as '1'
                       ,(predictor_2,   predictor_score_2,  predictor_bin_2)    as '2'
                       ,(predictor_3,   predictor_score_3,  predictor_bin_3)    as '3'
                       ,(predictor_4,   predictor_score_4,  predictor_bin_4)    as '4'
                       ,(predictor_5,   predictor_score_5,  predictor_bin_5)    as '5'
                       ,(predictor_6,   predictor_score_6,  predictor_bin_6)    as '6'
                       ,(predictor_7,   predictor_score_7,  predictor_bin_7)    as '7'
                       ,(predictor_8,   predictor_score_8,  predictor_bin_8)    as '8'
                       ,(predictor_9,   predictor_score_9,  predictor_bin_9)    as '9'
                       ,(predictor_10,  predictor_score_10, predictor_bin_10)   as '10'
                       ,(predictor_11,  predictor_score_11, predictor_bin_11)   as '11'
                       ,(predictor_12,  predictor_score_12, predictor_bin_12)   as '12'
                       ,(predictor_13,  predictor_score_13, predictor_bin_13)   as '13'
                       ,(predictor_14,  predictor_score_14, predictor_bin_14)   as '14'
                       ,(predictor_15,  predictor_score_15, predictor_bin_15)   as '15'
                       ,(predictor_16,  predictor_score_16, predictor_bin_16)   as '16'
                       ,(predictor_17,  predictor_score_17, predictor_bin_17)   as '17'
                       ,(predictor_18,  predictor_score_18, predictor_bin_18)   as '18'
                       )
                   )
            where 1=1
                  and date_decision = date '2024-12-20'
          ) scop
       on scop.skp_credit_case = scom.skp_credit_case
      and scop.date_decision = scom.date_decision
      and scop.skp_strategy_phase = scom.skp_strategy_phase
      and scop.pillar_name = scom.pillar_name
"""

In [4]:
# Apply Oracle hint in the query if none. This step is optional.
query = apply_ora_hint(query)

In [5]:
# Open
engine = connect_sqlalchemy(my_credentials)
conn = engine.raw_connection()
curr = conn.cursor()

df = pd.read_sql_query(query,engine)
df.columns = df.columns.str.upper()

# CLose
curr.close
engine.dispose()

### Generate CREATE TABLE script with partition by range

In [6]:
create_table_query = query_create_table(df,table_name,schema,engine)
print(create_table_query)

Do you want to create a partition by range? [YES/NO]  |  y
Input column for date_reference.  |  date_application


CREATE TABLE HCPH_RENNIELBAUTISTA.AH_RBB_POS_EC_SCORECARD_MONITORING
(
CNT_PREDICTOR_IN_SKP NUMBER,
CNT_PREDICTOR_IN_SCO NUMBER,
CNT_PREDICTOR_IN_PIL NUMBER,
ID_CUID NUMBER,
FLAG_WITH_APP NUMBER,
TEXT_CONTRACT_NUMBER VARCHAR2(80 CHAR),
DATE_APPLICATION DATE,
PURE_POPULATION NUMBER,
PURE_POPULATION_PRE NUMBER,
PRELIM1_STRATEGY_TYPE VARCHAR2(80 CHAR),
RISK_GRADE_PRELIM1 VARCHAR2(80 CHAR),
FLAG_WITH_OFFER_V2_PRELIM1 NUMBER,
FLAG_WITH_OFFER_V2 NUMBER,
FLAG_WITH_DPOS_OFFER_PRELIM1 NUMBER,
FLAG_WITH_DPOS_OFFER NUMBER,
CODE_PRM_DECISION VARCHAR2(80 CHAR),
FLAG_DPOS_APP NUMBER,
FLAG_APPROVE NUMBER,
FLAG_DECIDED NUMBER,
FLAG_SIGNED NUMBER,
SKP_CREDIT_CASE NUMBER,
DATE_DECISION DATE,
FLAG_DECIDING_SCORECARD NUMBER,
DECIDING_SCORECARD_VALUE VARCHAR2(80 CHAR),
SCORECARD_NAME VARCHAR2(80 CHAR),
NUM_SCORE_VALUE_LINEAR NUMBER,
NUM_SCORE_VALUE NUMBER,
SKP_STRATEGY_PHASE NUMBER,
NUM_PILLAR_CODE VARCHAR2(80 CHAR),
PILLAR_NAME VARCHAR2(80 CHAR),
NUM_SCORE_VALUE_LINEAR_PILLAR NUMBER,
NUM_SCORE_VALUE_PILLAR NUMBER,
NUM_PREDICTOR_CODE VARCHAR2(80 CHAR),
PREDICTOR_NAME VARCHAR2(80 CHAR),
NUM_SCORE_VALUE_LINEAR_PREDICTOR NUMBER,
NUM_SCORE_VALUE_PREDICTOR NUMBER,
PREDICTOR_BIN VARCHAR2(80 CHAR)
)
COMPRESS FOR ALL OPERATIONS

PARTITION BY RANGE (DATE_APPLICATION)
INTERVAL (NUMTOYMINTERVAL(1, 'MONTH'))
(
PARTITION P0 VALUES LESS THAN (TO_DATE(' 2015-01-01 00:00:00', 'SYYYY-MM-DD HH24:MI:SS'))
)
;

### Generate CREATE TABLE script without partition by range

In [7]:
create_table_query = query_create_table(df,table_name,schema,engine)
print(create_table_query)

Do you want to create a partition by range? [YES/NO]  |  n

CREATE TABLE HCPH_RENNIELBAUTISTA.AH_RBB_POS_EC_SCORECARD_MONITORING
(
CNT_PREDICTOR_IN_SKP NUMBER,
CNT_PREDICTOR_IN_SCO NUMBER,
CNT_PREDICTOR_IN_PIL NUMBER,
ID_CUID NUMBER,
FLAG_WITH_APP NUMBER,
TEXT_CONTRACT_NUMBER VARCHAR2(80 CHAR),
DATE_APPLICATION DATE,
PURE_POPULATION NUMBER,
PURE_POPULATION_PRE NUMBER,
PRELIM1_STRATEGY_TYPE VARCHAR2(80 CHAR),
RISK_GRADE_PRELIM1 VARCHAR2(80 CHAR),
FLAG_WITH_OFFER_V2_PRELIM1 NUMBER,
FLAG_WITH_OFFER_V2 NUMBER,
FLAG_WITH_DPOS_OFFER_PRELIM1 NUMBER,
FLAG_WITH_DPOS_OFFER NUMBER,
CODE_PRM_DECISION VARCHAR2(80 CHAR),
FLAG_DPOS_APP NUMBER,
FLAG_APPROVE NUMBER,
FLAG_DECIDED NUMBER,
FLAG_SIGNED NUMBER,
SKP_CREDIT_CASE NUMBER,
DATE_DECISION DATE,
FLAG_DECIDING_SCORECARD NUMBER,
DECIDING_SCORECARD_VALUE VARCHAR2(80 CHAR),
SCORECARD_NAME VARCHAR2(80 CHAR),
NUM_SCORE_VALUE_LINEAR NUMBER,
NUM_SCORE_VALUE NUMBER,
SKP_STRATEGY_PHASE NUMBER,
NUM_PILLAR_CODE VARCHAR2(80 CHAR),
PILLAR_NAME VARCHAR2(80 CHAR),
NUM_SCORE_VALUE_LINEAR_PILLAR NUMBER,
NUM_SCORE_VALUE_PILLAR NUMBER,
NUM_PREDICTOR_CODE VARCHAR2(80 CHAR),
PREDICTOR_NAME VARCHAR2(80 CHAR),
NUM_SCORE_VALUE_LINEAR_PREDICTOR NUMBER,
NUM_SCORE_VALUE_PREDICTOR NUMBER,
PREDICTOR_BIN VARCHAR2(80 CHAR)
)
COMPRESS FOR ALL OPERATIONS
;

## Merge TABLE

### Pre-requisites
Define query with date parameters and connection key/s for merging

In [8]:
query_c_date = f"""
with tab_base as
(
select
       dm.id_cuid
      -- Basic Scoring
      ,case
            when dm.text_contract_number is not null
            then 1 else 0
       end                                                                      flag_with_app
      ,dm.text_contract_number
      ,dm.date_application
      ,dm.pure_population
      ,dm.pure_population_pre
      ,dm.prelim1_strategy_type
      ,dm.risk_grade_prelim1
      ,dm.flag_with_offer_v2_prelim1
      ,dm.flag_with_offer_v2
      -- DPOS Tags
      ,dm.flag_with_dpos_offer_prelim1
      ,dm.flag_with_dpos_offer
      ,dm.code_prm_decision
      ,case when bs.text_contract_number is not null then 1
            when dm.text_contract_number is not null then 0
       end                                                                      flag_dpos_app
      -- Basic Scoring Decision
      ,dm.cnt_approve                                                           flag_approve
      ,dm.cnt_decided                                                           flag_decided
      ,dm.cnt_signed                                                            flag_signed
      -- Basic Scoring Scores
      ,sa.*
from ap_risk.pos_ec_datamart_tree dm
left join ap_risk.dpos_basic_scoring bs
       on bs.text_contract_number = dm.text_contract_number
      and bs.date_application >= c_date_start
      and bs.date_application <  c_date_end
left join ap_risk.uw_bi_scorecard_dtm sa
       on sa.skp_credit_case = dm.skp_credit_case
      and sa.date_decision >= c_date_start
      and sa.date_decision <  c_date_end + 14
      and sa.scorecard_name in (
                               'EC_202201_GMv8_Main_Scorecard'
                              ,'EC_202110_GMv8_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Main_Scorecard'
                              )
where 1=1
      and dm.date_application >= c_date_start
      and dm.date_application <  c_date_end
)

, tab_gm_pillar as
(
select
       tb.*
from tab_base
unpivot(
        (pillar_name,num_score_value_linear_pillar,num_score_value_pillar)
        for num_pillar_code
        in (
            (pillar_1,   pillar_value_linear_1,  pillar_value_1)    as '1'
           ,(pillar_2,   pillar_value_linear_2,  pillar_value_2)    as '2'
           ,(pillar_3,   pillar_value_linear_3,  pillar_value_3)    as '3'
           ,(pillar_4,   pillar_value_linear_4,  pillar_value_4)    as '4'
           ,(pillar_5,   pillar_value_linear_5,  pillar_value_5)    as '5'
           ,(pillar_6,   pillar_value_linear_6,  pillar_value_6)    as '6'
           ,(pillar_7,   pillar_value_linear_7,  pillar_value_7)    as '7'
           ,(pillar_8,   pillar_value_linear_8,  pillar_value_8)    as '8'
           ,(pillar_9,   pillar_value_linear_9,  pillar_value_9)    as '9'
           )
       ) tb
)

select
       count(1) over(partition by scom.id_cuid, scom.skp_credit_case) cnt_predictor_in_skp
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name) cnt_predictor_in_sco
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name, scom.pillar_name) cnt_predictor_in_pil
      ,scom.*
      ,scop.num_predictor_code
      ,scop.predictor_name
      ,scop.predictor_value                                                     num_score_value_linear_predictor
      ,trunc(1/(1+exp(-(scop.predictor_value))),6)                              num_score_value_predictor
      ,scop.predictor_bin
from tab_gm_pillar scom
left join (
            select * from ap_risk.uw_bi_scorecard_predictors_dtm
            unpivot(
                    (predictor_name,predictor_value,predictor_bin)
                    for num_predictor_code
                    in (
                        (predictor_1,   predictor_score_1,  predictor_bin_1)    as '1'
                       ,(predictor_2,   predictor_score_2,  predictor_bin_2)    as '2'
                       ,(predictor_3,   predictor_score_3,  predictor_bin_3)    as '3'
                       ,(predictor_4,   predictor_score_4,  predictor_bin_4)    as '4'
                       ,(predictor_5,   predictor_score_5,  predictor_bin_5)    as '5'
                       ,(predictor_6,   predictor_score_6,  predictor_bin_6)    as '6'
                       ,(predictor_7,   predictor_score_7,  predictor_bin_7)    as '7'
                       ,(predictor_8,   predictor_score_8,  predictor_bin_8)    as '8'
                       ,(predictor_9,   predictor_score_9,  predictor_bin_9)    as '9'
                       ,(predictor_10,  predictor_score_10, predictor_bin_10)   as '10'
                       ,(predictor_11,  predictor_score_11, predictor_bin_11)   as '11'
                       ,(predictor_12,  predictor_score_12, predictor_bin_12)   as '12'
                       ,(predictor_13,  predictor_score_13, predictor_bin_13)   as '13'
                       ,(predictor_14,  predictor_score_14, predictor_bin_14)   as '14'
                       ,(predictor_15,  predictor_score_15, predictor_bin_15)   as '15'
                       ,(predictor_16,  predictor_score_16, predictor_bin_16)   as '16'
                       ,(predictor_17,  predictor_score_17, predictor_bin_17)   as '17'
                       ,(predictor_18,  predictor_score_18, predictor_bin_18)   as '18'
                       )
                   )
            where 1=1
                  and date_decision >= c_date_start
                  and date_decision <  c_date_end + 14
          ) scop
       on scop.skp_credit_case = scom.skp_credit_case
      and scop.date_decision = scom.date_decision
      and scop.skp_strategy_phase = scom.skp_strategy_phase
      and scop.pillar_name = scom.pillar_name
"""

In [9]:
connection_key = ['skp_credit_case','scorecard_name','pillar_name','predictor_name']

### Process data

In [10]:
connection_key = ['skp_credit_case','scorecard_name','pillar_name','predictor_name']
merge_statement = query_merge(df,table_name,schema,query_c_date,connection_key)
print(merge_statement)

MERGE INTO HCPH_RENNIELBAUTISTA.AH_RBB_POS_EC_SCORECARD_MONITORING DM1
USING
(

with tab_base as
(
select
       dm.id_cuid
      -- Basic Scoring
      ,case
            when dm.text_contract_number is not null
            then 1 else 0
       end                                                                      flag_with_app
      ,dm.text_contract_number
      ,dm.date_application
      ,dm.pure_population
      ,dm.pure_population_pre
      ,dm.prelim1_strategy_type
      ,dm.risk_grade_prelim1
      ,dm.flag_with_offer_v2_prelim1
      ,dm.flag_with_offer_v2
      -- DPOS Tags
      ,dm.flag_with_dpos_offer_prelim1
      ,dm.flag_with_dpos_offer
      ,dm.code_prm_decision
      ,case when bs.text_contract_number is not null then 1
            when dm.text_contract_number is not null then 0
       end                                                                      flag_dpos_app
      -- Basic Scoring Decision
      ,dm.cnt_approve                                                           flag_approve
      ,dm.cnt_decided                                                           flag_decided
      ,dm.cnt_signed                                                            flag_signed
      -- Basic Scoring Scores
      ,sa.*
from ap_risk.pos_ec_datamart_tree dm
left join ap_risk.dpos_basic_scoring bs
       on bs.text_contract_number = dm.text_contract_number
      and bs.date_application >= c_date_start
      and bs.date_application <  c_date_end
left join ap_risk.uw_bi_scorecard_dtm sa
       on sa.skp_credit_case = dm.skp_credit_case
      and sa.date_decision >= c_date_start
      and sa.date_decision <  c_date_end + 14
      and sa.scorecard_name in (
                               'EC_202201_GMv8_Main_Scorecard'
                              ,'EC_202110_GMv8_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Main_Scorecard'
                              )
where 1=1
      and dm.date_application >= c_date_start
      and dm.date_application <  c_date_end
)

, tab_gm_pillar as
(
select
       tb.*
from tab_base
unpivot(
        (pillar_name,num_score_value_linear_pillar,num_score_value_pillar)
        for num_pillar_code
        in (
            (pillar_1,   pillar_value_linear_1,  pillar_value_1)    as '1'
           ,(pillar_2,   pillar_value_linear_2,  pillar_value_2)    as '2'
           ,(pillar_3,   pillar_value_linear_3,  pillar_value_3)    as '3'
           ,(pillar_4,   pillar_value_linear_4,  pillar_value_4)    as '4'
           ,(pillar_5,   pillar_value_linear_5,  pillar_value_5)    as '5'
           ,(pillar_6,   pillar_value_linear_6,  pillar_value_6)    as '6'
           ,(pillar_7,   pillar_value_linear_7,  pillar_value_7)    as '7'
           ,(pillar_8,   pillar_value_linear_8,  pillar_value_8)    as '8'
           ,(pillar_9,   pillar_value_linear_9,  pillar_value_9)    as '9'
           )
       ) tb
)

select
       count(1) over(partition by scom.id_cuid, scom.skp_credit_case) cnt_predictor_in_skp
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name) cnt_predictor_in_sco
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name, scom.pillar_name) cnt_predictor_in_pil
      ,scom.*
      ,scop.num_predictor_code
      ,scop.predictor_name
      ,scop.predictor_value                                                     num_score_value_linear_predictor
      ,trunc(1/(1+exp(-(scop.predictor_value))),6)                              num_score_value_predictor
      ,scop.predictor_bin
from tab_gm_pillar scom
left join (
            select * from ap_risk.uw_bi_scorecard_predictors_dtm
            unpivot(
                    (predictor_name,predictor_value,predictor_bin)
                    for num_predictor_code
                    in (
                        (predictor_1,   predictor_score_1,  predictor_bin_1)    as '1'
                       ,(predictor_2,   predictor_score_2,  predictor_bin_2)    as '2'
                       ,(predictor_3,   predictor_score_3,  predictor_bin_3)    as '3'
                       ,(predictor_4,   predictor_score_4,  predictor_bin_4)    as '4'
                       ,(predictor_5,   predictor_score_5,  predictor_bin_5)    as '5'
                       ,(predictor_6,   predictor_score_6,  predictor_bin_6)    as '6'
                       ,(predictor_7,   predictor_score_7,  predictor_bin_7)    as '7'
                       ,(predictor_8,   predictor_score_8,  predictor_bin_8)    as '8'
                       ,(predictor_9,   predictor_score_9,  predictor_bin_9)    as '9'
                       ,(predictor_10,  predictor_score_10, predictor_bin_10)   as '10'
                       ,(predictor_11,  predictor_score_11, predictor_bin_11)   as '11'
                       ,(predictor_12,  predictor_score_12, predictor_bin_12)   as '12'
                       ,(predictor_13,  predictor_score_13, predictor_bin_13)   as '13'
                       ,(predictor_14,  predictor_score_14, predictor_bin_14)   as '14'
                       ,(predictor_15,  predictor_score_15, predictor_bin_15)   as '15'
                       ,(predictor_16,  predictor_score_16, predictor_bin_16)   as '16'
                       ,(predictor_17,  predictor_score_17, predictor_bin_17)   as '17'
                       ,(predictor_18,  predictor_score_18, predictor_bin_18)   as '18'
                       )
                   )
            where 1=1
                  and date_decision >= c_date_start
                  and date_decision <  c_date_end + 14
          ) scop
       on scop.skp_credit_case = scom.skp_credit_case
      and scop.date_decision = scom.date_decision
      and scop.skp_strategy_phase = scom.skp_strategy_phase
      and scop.pillar_name = scom.pillar_name

) DM2 ON (
         DM1.SKP_CREDIT_CASE = DM2.SKP_CREDIT_CASE and
         DM1.SCORECARD_NAME = DM2.SCORECARD_NAME and
         DM1.PILLAR_NAME = DM2.PILLAR_NAME and
         DM1.PREDICTOR_NAME = DM2.PREDICTOR_NAME
         )

WHEN MATCHED THEN
UPDATE SET
      DM1.CNT_PREDICTOR_IN_SKP = DM2.CNT_PREDICTOR_IN_SKP,
      DM1.CNT_PREDICTOR_IN_SCO = DM2.CNT_PREDICTOR_IN_SCO,
      DM1.CNT_PREDICTOR_IN_PIL = DM2.CNT_PREDICTOR_IN_PIL,
      DM1.ID_CUID = DM2.ID_CUID,
      DM1.FLAG_WITH_APP = DM2.FLAG_WITH_APP,
      DM1.TEXT_CONTRACT_NUMBER = DM2.TEXT_CONTRACT_NUMBER,
      DM1.DATE_APPLICATION = DM2.DATE_APPLICATION,
      DM1.PURE_POPULATION = DM2.PURE_POPULATION,
      DM1.PURE_POPULATION_PRE = DM2.PURE_POPULATION_PRE,
      DM1.PRELIM1_STRATEGY_TYPE = DM2.PRELIM1_STRATEGY_TYPE,
      DM1.RISK_GRADE_PRELIM1 = DM2.RISK_GRADE_PRELIM1,
      DM1.FLAG_WITH_OFFER_V2_PRELIM1 = DM2.FLAG_WITH_OFFER_V2_PRELIM1,
      DM1.FLAG_WITH_OFFER_V2 = DM2.FLAG_WITH_OFFER_V2,
      DM1.FLAG_WITH_DPOS_OFFER_PRELIM1 = DM2.FLAG_WITH_DPOS_OFFER_PRELIM1,
      DM1.FLAG_WITH_DPOS_OFFER = DM2.FLAG_WITH_DPOS_OFFER,
      DM1.CODE_PRM_DECISION = DM2.CODE_PRM_DECISION,
      DM1.FLAG_DPOS_APP = DM2.FLAG_DPOS_APP,
      DM1.FLAG_APPROVE = DM2.FLAG_APPROVE,
      DM1.FLAG_DECIDED = DM2.FLAG_DECIDED,
      DM1.FLAG_SIGNED = DM2.FLAG_SIGNED,
      DM1.DATE_DECISION = DM2.DATE_DECISION,
      DM1.FLAG_DECIDING_SCORECARD = DM2.FLAG_DECIDING_SCORECARD,
      DM1.DECIDING_SCORECARD_VALUE = DM2.DECIDING_SCORECARD_VALUE,
      DM1.NUM_SCORE_VALUE_LINEAR = DM2.NUM_SCORE_VALUE_LINEAR,
      DM1.NUM_SCORE_VALUE = DM2.NUM_SCORE_VALUE,
      DM1.SKP_STRATEGY_PHASE = DM2.SKP_STRATEGY_PHASE,
      DM1.NUM_PILLAR_CODE = DM2.NUM_PILLAR_CODE,
      DM1.NUM_SCORE_VALUE_LINEAR_PILLAR = DM2.NUM_SCORE_VALUE_LINEAR_PILLAR,
      DM1.NUM_SCORE_VALUE_PILLAR = DM2.NUM_SCORE_VALUE_PILLAR,
      DM1.NUM_PREDICTOR_CODE = DM2.NUM_PREDICTOR_CODE,
      DM1.NUM_SCORE_VALUE_LINEAR_PREDICTOR = DM2.NUM_SCORE_VALUE_LINEAR_PREDICTOR,
      DM1.NUM_SCORE_VALUE_PREDICTOR = DM2.NUM_SCORE_VALUE_PREDICTOR,
      DM1.PREDICTOR_BIN = DM2.PREDICTOR_BIN

WHEN NOT MATCHED THEN
INSERT
      (
      DM1.CNT_PREDICTOR_IN_SKP,
      DM1.CNT_PREDICTOR_IN_SCO,
      DM1.CNT_PREDICTOR_IN_PIL,
      DM1.ID_CUID,
      DM1.FLAG_WITH_APP,
      DM1.TEXT_CONTRACT_NUMBER,
      DM1.DATE_APPLICATION,
      DM1.PURE_POPULATION,
      DM1.PURE_POPULATION_PRE,
      DM1.PRELIM1_STRATEGY_TYPE,
      DM1.RISK_GRADE_PRELIM1,
      DM1.FLAG_WITH_OFFER_V2_PRELIM1,
      DM1.FLAG_WITH_OFFER_V2,
      DM1.FLAG_WITH_DPOS_OFFER_PRELIM1,
      DM1.FLAG_WITH_DPOS_OFFER,
      DM1.CODE_PRM_DECISION,
      DM1.FLAG_DPOS_APP,
      DM1.FLAG_APPROVE,
      DM1.FLAG_DECIDED,
      DM1.FLAG_SIGNED,
      DM1.SKP_CREDIT_CASE,
      DM1.DATE_DECISION,
      DM1.FLAG_DECIDING_SCORECARD,
      DM1.DECIDING_SCORECARD_VALUE,
      DM1.SCORECARD_NAME,
      DM1.NUM_SCORE_VALUE_LINEAR,
      DM1.NUM_SCORE_VALUE,
      DM1.SKP_STRATEGY_PHASE,
      DM1.NUM_PILLAR_CODE,
      DM1.PILLAR_NAME,
      DM1.NUM_SCORE_VALUE_LINEAR_PILLAR,
      DM1.NUM_SCORE_VALUE_PILLAR,
      DM1.NUM_PREDICTOR_CODE,
      DM1.PREDICTOR_NAME,
      DM1.NUM_SCORE_VALUE_LINEAR_PREDICTOR,
      DM1.NUM_SCORE_VALUE_PREDICTOR,
      DM1.PREDICTOR_BIN
      )
VALUES
      (
      DM2.CNT_PREDICTOR_IN_SKP,
      DM2.CNT_PREDICTOR_IN_SCO,
      DM2.CNT_PREDICTOR_IN_PIL,
      DM2.ID_CUID,
      DM2.FLAG_WITH_APP,
      DM2.TEXT_CONTRACT_NUMBER,
      DM2.DATE_APPLICATION,
      DM2.PURE_POPULATION,
      DM2.PURE_POPULATION_PRE,
      DM2.PRELIM1_STRATEGY_TYPE,
      DM2.RISK_GRADE_PRELIM1,
      DM2.FLAG_WITH_OFFER_V2_PRELIM1,
      DM2.FLAG_WITH_OFFER_V2,
      DM2.FLAG_WITH_DPOS_OFFER_PRELIM1,
      DM2.FLAG_WITH_DPOS_OFFER,
      DM2.CODE_PRM_DECISION,
      DM2.FLAG_DPOS_APP,
      DM2.FLAG_APPROVE,
      DM2.FLAG_DECIDED,
      DM2.FLAG_SIGNED,
      DM2.SKP_CREDIT_CASE,
      DM2.DATE_DECISION,
      DM2.FLAG_DECIDING_SCORECARD,
      DM2.DECIDING_SCORECARD_VALUE,
      DM2.SCORECARD_NAME,
      DM2.NUM_SCORE_VALUE_LINEAR,
      DM2.NUM_SCORE_VALUE,
      DM2.SKP_STRATEGY_PHASE,
      DM2.NUM_PILLAR_CODE,
      DM2.PILLAR_NAME,
      DM2.NUM_SCORE_VALUE_LINEAR_PILLAR,
      DM2.NUM_SCORE_VALUE_PILLAR,
      DM2.NUM_PREDICTOR_CODE,
      DM2.PREDICTOR_NAME,
      DM2.NUM_SCORE_VALUE_LINEAR_PREDICTOR,
      DM2.NUM_SCORE_VALUE_PREDICTOR,
      DM2.PREDICTOR_BIN
      )
      ;

## -----------------------------------------------------------------------------------------------------------

## Create PACKAGE

In [11]:
pckg_script = query_create_package(df,table_name,schema,query_c_date,connection_key)

### Package Head

In [12]:
pckg_head = pckg_script[0]
print(pckg_head)

CREATE OR REPLACE PACKAGE PCKG_AH_RBB_POS_EC_SCORECARD_MONITORING AS

    /****************************************************************************************************************************

        NAME:      PCKG_AH_RBB_POS_EC_SCORECARD_MONITORING
        PURPOSE:   Package to update AH_RBB_POS_EC_SCORECARD_MONITORING
        REVISIONS:
        Ver        Date        Author                     Description
        ---------  ----------  ---------------            -----------------------------------------------------------------------
        1.0        2024-12-26  HCPH_RENNIELBAUTISTA       1. Created this package.

    ****************************************************************************************************************************/

    procedure proc_main (p_date_start date default trunc(sysdate-1), p_date_end date default trunc(sysdate));

END PCKG_AH_RBB_POS_EC_SCORECARD_MONITORING;

### Package Body

In [13]:
pckg_body = pckg_script[1]
print(pckg_body)

CREATE OR REPLACE PACKAGE BODY PCKG_AH_RBB_POS_EC_SCORECARD_MONITORING AS

/*----------------
------------------
----- proc00 -----
------------------
----------------*/


    procedure pstats( actable varchar2, anperc number default 0.01)
    is
    begin
        ap_public.core_log_pkg.pstart( 'Stat:'||actable );
        dbms_stats.gather_table_stats ( ownname => user, tabname => actable, estimate_percent => anperc );
        ap_public.core_log_pkg.pend;
    end pstats
    ;

/*----------------
------------------
----- proc01 -----
------------------
----------------*/


    procedure ptruncate( actable varchar2, anperc number default 0.01)
    is
    begin
        ap_public.core_log_pkg.pstart( 'trunc:'||actable );
        execute immediate 'truncate table '||actable ;
        ap_public.core_log_pkg.pend ;
    end ptruncate
    ;

/*----------------
------------------
----- proc02 -----
------------------
----------------*/

    procedure proc_main
    (p_date_start date default trunc(sysdate-1), p_date_end date default trunc(sysdate))
    as
    --=== parametrization ===--

    c_date_start constant date := trunc(p_date_start);
    c_date_end constant date := trunc(p_date_end);


    begin
        ap_public.core_log_pkg.pinit( user, $$plsql_unit ) ;

        /*--------------------------------------------------------------------------------------------------------------------------------------------
            Procedure in updating POS EC DATAMART TREE main table
                VERSION         DATE                        USER                            NOTE
                  1         2024-12-26              HCPH_RENNIELBAUTISTA            Created this procedure.

        --------------------------------------------------------------------------------------------------------------------------------------------*/
        --ptruncate('HCPH_RENNIELBAUTISTA.AH_RBB_POS_EC_SCORECARD_MONITORING');

        ap_public.core_log_pkg.pstart('merge: HCPH_RENNIELBAUTISTA.AH_RBB_POS_EC_SCORECARD_MONITORING ' || c_date_start || ' - ' || c_date_end);

        MERGE INTO HCPH_RENNIELBAUTISTA.AH_RBB_POS_EC_SCORECARD_MONITORING DM1
        USING
        (

        with tab_base as
        (
        select
               dm.id_cuid
              -- Basic Scoring
              ,case
                    when dm.text_contract_number is not null
                    then 1 else 0
               end                                                                      flag_with_app
              ,dm.text_contract_number
              ,dm.date_application
              ,dm.pure_population
              ,dm.pure_population_pre
              ,dm.prelim1_strategy_type
              ,dm.risk_grade_prelim1
              ,dm.flag_with_offer_v2_prelim1
              ,dm.flag_with_offer_v2
              -- DPOS Tags
              ,dm.flag_with_dpos_offer_prelim1
              ,dm.flag_with_dpos_offer
              ,dm.code_prm_decision
              ,case when bs.text_contract_number is not null then 1
                    when dm.text_contract_number is not null then 0
               end                                                                      flag_dpos_app
              -- Basic Scoring Decision
              ,dm.cnt_approve                                                           flag_approve
              ,dm.cnt_decided                                                           flag_decided
              ,dm.cnt_signed                                                            flag_signed
              -- Basic Scoring Scores
              ,sa.*
        from ap_risk.pos_ec_datamart_tree dm
        left join ap_risk.dpos_basic_scoring bs
               on bs.text_contract_number = dm.text_contract_number
              and bs.date_application >= c_date_start
              and bs.date_application <  c_date_end
        left join ap_risk.uw_bi_scorecard_dtm sa
               on sa.skp_credit_case = dm.skp_credit_case
              and sa.date_decision >= c_date_start
              and sa.date_decision <  c_date_end + 14
              and sa.scorecard_name in (
                                       'EC_202201_GMv8_Main_Scorecard'
                                      ,'EC_202110_GMv8_Prelim_Scorecard'
                                      ,'EC_202301_GMv10_Prelim_Scorecard'
                                      ,'EC_202301_GMv10_Main_Scorecard'
                                      )
        where 1=1
              and dm.date_application >= c_date_start
              and dm.date_application <  c_date_end
        )

        , tab_gm_pillar as
        (
        select
               tb.*
        from tab_base
        unpivot(
                (pillar_name,num_score_value_linear_pillar,num_score_value_pillar)
                for num_pillar_code
                in (
                    (pillar_1,   pillar_value_linear_1,  pillar_value_1)    as '1'
                   ,(pillar_2,   pillar_value_linear_2,  pillar_value_2)    as '2'
                   ,(pillar_3,   pillar_value_linear_3,  pillar_value_3)    as '3'
                   ,(pillar_4,   pillar_value_linear_4,  pillar_value_4)    as '4'
                   ,(pillar_5,   pillar_value_linear_5,  pillar_value_5)    as '5'
                   ,(pillar_6,   pillar_value_linear_6,  pillar_value_6)    as '6'
                   ,(pillar_7,   pillar_value_linear_7,  pillar_value_7)    as '7'
                   ,(pillar_8,   pillar_value_linear_8,  pillar_value_8)    as '8'
                   ,(pillar_9,   pillar_value_linear_9,  pillar_value_9)    as '9'
                   )
               ) tb
        )

        select
               count(1) over(partition by scom.id_cuid, scom.skp_credit_case) cnt_predictor_in_skp
              ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name) cnt_predictor_in_sco
              ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name, scom.pillar_name) cnt_predictor_in_pil
              ,scom.*
              ,scop.num_predictor_code
              ,scop.predictor_name
              ,scop.predictor_value                                                     num_score_value_linear_predictor
              ,trunc(1/(1+exp(-(scop.predictor_value))),6)                              num_score_value_predictor
              ,scop.predictor_bin
        from tab_gm_pillar scom
        left join (
                    select * from ap_risk.uw_bi_scorecard_predictors_dtm
                    unpivot(
                            (predictor_name,predictor_value,predictor_bin)
                            for num_predictor_code
                            in (
                                (predictor_1,   predictor_score_1,  predictor_bin_1)    as '1'
                               ,(predictor_2,   predictor_score_2,  predictor_bin_2)    as '2'
                               ,(predictor_3,   predictor_score_3,  predictor_bin_3)    as '3'
                               ,(predictor_4,   predictor_score_4,  predictor_bin_4)    as '4'
                               ,(predictor_5,   predictor_score_5,  predictor_bin_5)    as '5'
                               ,(predictor_6,   predictor_score_6,  predictor_bin_6)    as '6'
                               ,(predictor_7,   predictor_score_7,  predictor_bin_7)    as '7'
                               ,(predictor_8,   predictor_score_8,  predictor_bin_8)    as '8'
                               ,(predictor_9,   predictor_score_9,  predictor_bin_9)    as '9'
                               ,(predictor_10,  predictor_score_10, predictor_bin_10)   as '10'
                               ,(predictor_11,  predictor_score_11, predictor_bin_11)   as '11'
                               ,(predictor_12,  predictor_score_12, predictor_bin_12)   as '12'
                               ,(predictor_13,  predictor_score_13, predictor_bin_13)   as '13'
                               ,(predictor_14,  predictor_score_14, predictor_bin_14)   as '14'
                               ,(predictor_15,  predictor_score_15, predictor_bin_15)   as '15'
                               ,(predictor_16,  predictor_score_16, predictor_bin_16)   as '16'
                               ,(predictor_17,  predictor_score_17, predictor_bin_17)   as '17'
                               ,(predictor_18,  predictor_score_18, predictor_bin_18)   as '18'
                               )
                           )
                    where 1=1
                          and date_decision >= c_date_start
                          and date_decision <  c_date_end + 14
                  ) scop
               on scop.skp_credit_case = scom.skp_credit_case
              and scop.date_decision = scom.date_decision
              and scop.skp_strategy_phase = scom.skp_strategy_phase
              and scop.pillar_name = scom.pillar_name

        ) DM2 ON (
                 DM1.SKP_CREDIT_CASE = DM2.SKP_CREDIT_CASE and
                 DM1.SCORECARD_NAME = DM2.SCORECARD_NAME and
                 DM1.PILLAR_NAME = DM2.PILLAR_NAME and
                 DM1.PREDICTOR_NAME = DM2.PREDICTOR_NAME
                 )

        WHEN MATCHED THEN
        UPDATE SET
              DM1.CNT_PREDICTOR_IN_SKP = DM2.CNT_PREDICTOR_IN_SKP,
              DM1.CNT_PREDICTOR_IN_SCO = DM2.CNT_PREDICTOR_IN_SCO,
              DM1.CNT_PREDICTOR_IN_PIL = DM2.CNT_PREDICTOR_IN_PIL,
              DM1.ID_CUID = DM2.ID_CUID,
              DM1.FLAG_WITH_APP = DM2.FLAG_WITH_APP,
              DM1.TEXT_CONTRACT_NUMBER = DM2.TEXT_CONTRACT_NUMBER,
              DM1.DATE_APPLICATION = DM2.DATE_APPLICATION,
              DM1.PURE_POPULATION = DM2.PURE_POPULATION,
              DM1.PURE_POPULATION_PRE = DM2.PURE_POPULATION_PRE,
              DM1.PRELIM1_STRATEGY_TYPE = DM2.PRELIM1_STRATEGY_TYPE,
              DM1.RISK_GRADE_PRELIM1 = DM2.RISK_GRADE_PRELIM1,
              DM1.FLAG_WITH_OFFER_V2_PRELIM1 = DM2.FLAG_WITH_OFFER_V2_PRELIM1,
              DM1.FLAG_WITH_OFFER_V2 = DM2.FLAG_WITH_OFFER_V2,
              DM1.FLAG_WITH_DPOS_OFFER_PRELIM1 = DM2.FLAG_WITH_DPOS_OFFER_PRELIM1,
              DM1.FLAG_WITH_DPOS_OFFER = DM2.FLAG_WITH_DPOS_OFFER,
              DM1.CODE_PRM_DECISION = DM2.CODE_PRM_DECISION,
              DM1.FLAG_DPOS_APP = DM2.FLAG_DPOS_APP,
              DM1.FLAG_APPROVE = DM2.FLAG_APPROVE,
              DM1.FLAG_DECIDED = DM2.FLAG_DECIDED,
              DM1.FLAG_SIGNED = DM2.FLAG_SIGNED,
              DM1.DATE_DECISION = DM2.DATE_DECISION,
              DM1.FLAG_DECIDING_SCORECARD = DM2.FLAG_DECIDING_SCORECARD,
              DM1.DECIDING_SCORECARD_VALUE = DM2.DECIDING_SCORECARD_VALUE,
              DM1.NUM_SCORE_VALUE_LINEAR = DM2.NUM_SCORE_VALUE_LINEAR,
              DM1.NUM_SCORE_VALUE = DM2.NUM_SCORE_VALUE,
              DM1.SKP_STRATEGY_PHASE = DM2.SKP_STRATEGY_PHASE,
              DM1.NUM_PILLAR_CODE = DM2.NUM_PILLAR_CODE,
              DM1.NUM_SCORE_VALUE_LINEAR_PILLAR = DM2.NUM_SCORE_VALUE_LINEAR_PILLAR,
              DM1.NUM_SCORE_VALUE_PILLAR = DM2.NUM_SCORE_VALUE_PILLAR,
              DM1.NUM_PREDICTOR_CODE = DM2.NUM_PREDICTOR_CODE,
              DM1.NUM_SCORE_VALUE_LINEAR_PREDICTOR = DM2.NUM_SCORE_VALUE_LINEAR_PREDICTOR,
              DM1.NUM_SCORE_VALUE_PREDICTOR = DM2.NUM_SCORE_VALUE_PREDICTOR,
              DM1.PREDICTOR_BIN = DM2.PREDICTOR_BIN

        WHEN NOT MATCHED THEN
        INSERT
              (
              DM1.CNT_PREDICTOR_IN_SKP,
              DM1.CNT_PREDICTOR_IN_SCO,
              DM1.CNT_PREDICTOR_IN_PIL,
              DM1.ID_CUID,
              DM1.FLAG_WITH_APP,
              DM1.TEXT_CONTRACT_NUMBER,
              DM1.DATE_APPLICATION,
              DM1.PURE_POPULATION,
              DM1.PURE_POPULATION_PRE,
              DM1.PRELIM1_STRATEGY_TYPE,
              DM1.RISK_GRADE_PRELIM1,
              DM1.FLAG_WITH_OFFER_V2_PRELIM1,
              DM1.FLAG_WITH_OFFER_V2,
              DM1.FLAG_WITH_DPOS_OFFER_PRELIM1,
              DM1.FLAG_WITH_DPOS_OFFER,
              DM1.CODE_PRM_DECISION,
              DM1.FLAG_DPOS_APP,
              DM1.FLAG_APPROVE,
              DM1.FLAG_DECIDED,
              DM1.FLAG_SIGNED,
              DM1.SKP_CREDIT_CASE,
              DM1.DATE_DECISION,
              DM1.FLAG_DECIDING_SCORECARD,
              DM1.DECIDING_SCORECARD_VALUE,
              DM1.SCORECARD_NAME,
              DM1.NUM_SCORE_VALUE_LINEAR,
              DM1.NUM_SCORE_VALUE,
              DM1.SKP_STRATEGY_PHASE,
              DM1.NUM_PILLAR_CODE,
              DM1.PILLAR_NAME,
              DM1.NUM_SCORE_VALUE_LINEAR_PILLAR,
              DM1.NUM_SCORE_VALUE_PILLAR,
              DM1.NUM_PREDICTOR_CODE,
              DM1.PREDICTOR_NAME,
              DM1.NUM_SCORE_VALUE_LINEAR_PREDICTOR,
              DM1.NUM_SCORE_VALUE_PREDICTOR,
              DM1.PREDICTOR_BIN
              )
        VALUES
              (
              DM2.CNT_PREDICTOR_IN_SKP,
              DM2.CNT_PREDICTOR_IN_SCO,
              DM2.CNT_PREDICTOR_IN_PIL,
              DM2.ID_CUID,
              DM2.FLAG_WITH_APP,
              DM2.TEXT_CONTRACT_NUMBER,
              DM2.DATE_APPLICATION,
              DM2.PURE_POPULATION,
              DM2.PURE_POPULATION_PRE,
              DM2.PRELIM1_STRATEGY_TYPE,
              DM2.RISK_GRADE_PRELIM1,
              DM2.FLAG_WITH_OFFER_V2_PRELIM1,
              DM2.FLAG_WITH_OFFER_V2,
              DM2.FLAG_WITH_DPOS_OFFER_PRELIM1,
              DM2.FLAG_WITH_DPOS_OFFER,
              DM2.CODE_PRM_DECISION,
              DM2.FLAG_DPOS_APP,
              DM2.FLAG_APPROVE,
              DM2.FLAG_DECIDED,
              DM2.FLAG_SIGNED,
              DM2.SKP_CREDIT_CASE,
              DM2.DATE_DECISION,
              DM2.FLAG_DECIDING_SCORECARD,
              DM2.DECIDING_SCORECARD_VALUE,
              DM2.SCORECARD_NAME,
              DM2.NUM_SCORE_VALUE_LINEAR,
              DM2.NUM_SCORE_VALUE,
              DM2.SKP_STRATEGY_PHASE,
              DM2.NUM_PILLAR_CODE,
              DM2.PILLAR_NAME,
              DM2.NUM_SCORE_VALUE_LINEAR_PILLAR,
              DM2.NUM_SCORE_VALUE_PILLAR,
              DM2.NUM_PREDICTOR_CODE,
              DM2.PREDICTOR_NAME,
              DM2.NUM_SCORE_VALUE_LINEAR_PREDICTOR,
              DM2.NUM_SCORE_VALUE_PREDICTOR,
              DM2.PREDICTOR_BIN
              )
              ;

        pstats('AH_RBB_POS_EC_SCORECARD_MONITORING');
        ap_public.core_log_pkg.pfinish;
        commit;

        exception when others then
        ap_public.core_log_pkg.perror;
        raise;

    end proc_main;

END PCKG_AH_RBB_POS_EC_SCORECARD_MONITORING;

# Query to SQL Table

This section shows different scenarios for creating SQL table using only select statement query and generates workbook if it does not exists. There are multiple checks in the defined function that requires user input to avoid accidentally overwriting existing SQL table.

## Scenario 1
No existing match for file name in local directory AND table name in the database.

### Pre-requisites

In [14]:
fname = 'TEST_DTM_CREATE.xlsx'
table_name = 'TEST_DTM_CREATE'
sheet_name = None

In [15]:
query = f'''
select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)
'''

In [16]:
query = apply_ora_hint(query)

### Process data

In [17]:
create_table_sql(query,fname,schema,table_name,sheet_name)
del fname
del table_name
del sheet_name
del query

Query used:

-----------------------------------------------------------------

select /*+ materialize */ * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)

-----------------------------------------------------------------

No matching file found.
Fetching Oracle data types.
Time elapsed: 0.148098
Fetching python data types.
Time elapsed: 28.654673
Converting to sqlalchemy data types.
Checking in the database.
Fetching Oracle data types.
Time elapsed: 0.470285
Fetching python data types.
Time elapsed: 20.915958
Converting to sqlalchemy data types.
Workbook created. Time elapsed: 41.037772 s
No existing table. Importing to database.
TEST_DTM_CREATE.xlsx
Table [TEST_DTM_CREATE] created.
Finished.
Execution time: 140.014214 s

## Scenario 2
No existing match for file name in local directory BUT table name exists in the database.

### Pre-requisites

In [18]:
fname = 'TEST_DTM_CREATE_2.xlsx'
table_name = 'TEST_DTM_CREATE'
sheet_name = None

In [19]:
query = f'''
select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)
'''

### Process data

In [20]:
create_table_sql(query,fname,schema,table_name,sheet_name)
del fname
del table_name
del sheet_name
del query

Query used:

-----------------------------------------------------------------

select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)

-----------------------------------------------------------------

No matching file found.
Fetching Oracle data types.
Time elapsed: 0.161415
Fetching python data types.
Time elapsed: 25.704279
Converting to sqlalchemy data types.
Checking in the database.
Identical table with same table_name and column_names is found in the database. Do you want to create a new table? [YES/NO]  |  y
Insert new table name.  |  TEST_DTM_CREATE_2
New fullpath: C:\Users\Renniel.Bautista\Documents\Excel\TEST_DTM_CREATE_2.xlsx
Fetching Oracle data types.
Time elapsed: 0.471970
Fetching python data types.
Time elapsed: 23.807630
Converting to sqlalchemy data types.
Workbook created. Time elapsed: 47.879079 s
Importing to database.
Table [TEST_DTM_CREATE_2] created.
Finished.
Execution time: 330.069604 s

## Scenario 3
File already exists but no existing match in the database.

### Pre-requisites

In [21]:
fname = 'TEST_DTM_CREATE_2.xlsx'
table_name = 'TEST_DTM_CREATE_3'
sheet_name = None

In [22]:
query = f'''
select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)
'''

### Process data

In [23]:
create_table_sql(query,fname,schema,table_name,sheet_name)
del fname
del table_name
del sheet_name
del query

Query used:

-----------------------------------------------------------------

select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)

-----------------------------------------------------------------

File already exists.
Fullpath: C:\Users\Renniel.Bautista\Documents\Excel\TEST_DTM_CREATE_2.xlsx
Fetching Oracle data types.
Time elapsed: 0.039864
Fetching python data types.
Time elapsed: 27.445258
Converting to sqlalchemy data types.
Checking in the database.
No existing table. Importing to database.
Table [TEST_DTM_CREATE_3] created.
Finished.
Execution time: 64.681479 s

## Scenario 4
Table name already exists in the database using same query.

### Pre-requisites

In [24]:
fname = 'TEST_DTM_CREATE_2.xlsx'
table_name = 'TEST_DTM_CREATE_3'
sheet_name = None

In [25]:
query = f'''
select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)
'''

### Process data

In [26]:
create_table_sql(query,fname,schema,table_name,sheet_name)
del fname
del table_name
del sheet_name
del query

Query used:

-----------------------------------------------------------------

select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)

-----------------------------------------------------------------

File already exists.
Fullpath: C:\Users\Renniel.Bautista\Documents\Excel\TEST_DTM_CREATE_2.xlsx
Fetching Oracle data types.
Time elapsed: 0.050687
Fetching python data types.
Time elapsed: 30.926036
Converting to sqlalchemy data types.
Checking in the database.
Table already exists in the database. Do you want to create a new table? [YES/NO]  |  y
Insert new table name.  |  TEST_DTM_CREATE_4
New fullpath: C:\Users\Renniel.Bautista\Documents\Excel\TEST_DTM_CREATE_4.xlsx
Fetching Oracle data types.
Time elapsed: 0.418957
Fetching python data types.
Time elapsed: 23.185066
Converting to sqlalchemy data types.
Workbook created. Time elapsed: 55.336544 s
Importing to database.
Table [TEST_DTM_CREATE_4] created.
Finished.
Execution time: 268.691036 s

## Scenario 5
Table name already exists in the database using different query.

### Pre-requisites

In [27]:
fname = 'TEST_DTM_CREATE_2.xlsx'
table_name = 'TEST_DTM_CREATE_3'
sheet_name = None

In [28]:
query = f'''
select * from ap_risk.pos_ec_datamart_tree
where date_application = trunc(sysdate-3)
'''

### Process data

In [29]:
create_table_sql(query,fname,schema,table_name,sheet_name)
del fname
del table_name
del sheet_name
del query

Query used:

-----------------------------------------------------------------

select * from ap_risk.pos_ec_datamart_tree
where date_application = trunc(sysdate-3)

-----------------------------------------------------------------

File already exists.
Fullpath: C:\Users\Renniel.Bautista\Documents\Excel\TEST_DTM_CREATE_2.xlsx
Fetching Oracle data types.
Time elapsed: 0.140335
Fetching python data types.
Time elapsed: 20.560579
Converting to sqlalchemy data types.
Checking in the database.
Table already exists in the database. Do you want to create a new table? [YES/NO]  |  y
Insert new table name.  |  TEST_DTM_CREATE_5
New fullpath: C:\Users\Renniel.Bautista\Documents\Excel\TEST_DTM_CREATE_5.xlsx
Fetching Oracle data types.
Time elapsed: 0.463542
Fetching python data types.
Time elapsed: 9.981015
Converting to sqlalchemy data types.
Workbook created. Time elapsed: 14.643381 s
Importing to database.
Table [TEST_DTM_CREATE_5] created.
Finished.
Execution time: 89.563301 s

# Query to Excel
This section display the function query_to_excel that generates an Excel file on a pre-destined fullpath using SQLquery. It involves pre-processing information from database to enable backtracing and avoid XML errors when saving to workbook. When saving large dataset exceeding Excel maximum rows, it will automatically chunk the data into different sheets.

## Pre-requisites

In [30]:
fname = 'TEST_QUERY_TO_EXCEL.xlsx'
table_name = 'TEST_QUERY_TO_EXCEL'
sheet_name = None

In [31]:
query = f'''
select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)
'''

In [32]:
# Apply Oracle hint in the query if none. This step is optional.
query = apply_ora_hint(query)

## Process data

In [33]:
query_to_excel(schema,query,fname,sheet_name)
del fname
del table_name
del sheet_name
del query

CHUNK 1 appended to list. Time elapsed: 14.246343
Chunking done. Time elapsed: 14.312488 s
Fetching Oracle data types.
Time elapsed: 0.328385
Fetching python data types.
Time elapsed: 23.194575
Converting to sqlalchemy data types.
Dataframe created. Time elapsed: 41.715835 s
Workbook created. Time elapsed: 46.021630 s
Execution time: 102.061356 s

# Query to Data Frame
This sections generates a data frame using query. It involves pre-processing information from database to enable backtracing. When dealing with large dataset, chunksize parameter can be set before reading from database to allow faster execution.

## Pre-requisites

In [34]:
query = f'''
select * from ap_risk.summary_contract
where date_application = trunc(sysdate-3)
'''

In [35]:
# Apply Oracle hint in the query if none. This step is optional.
query = apply_ora_hint(query)

## Process data

In [36]:
df = query_to_df(query,schema)
del query

df

CHUNK 1 appended to list. Time elapsed: 9.006680
Chunking done. Time elapsed: 9.068983 s
Fetching Oracle data types.
Time elapsed: 0.548904
Fetching python data types.
Time elapsed: 7.217293
Converting to sqlalchemy data types.
Chunk list deleted.
Dataframe created. Time elapsed: 13.633889 s
Execution time: 22.702872 s

,SKP_CREDIT_CASE,TEXT_CONTRACT_NUMBER,ID_CUID,NAME_CREDIT_STATUS,MS,DATE_APPLICATION,WEEK_APPLICATION,MONTH_APPLICATION,HOUR_APPLICATION,FLAG_LAST7DAYS,FLAG_LAST7_WEEKS,FLAG_LAST_7_MONTHS,FLAG_WORKING_DAY,DTIME_SIGN,DTIME_ACTIVE,DTIME_RETURN,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,CODE_HOUSING_TYPE,CNT_PERSON_DEPENDENT,DATE_BIRTH,AGE,DATE_EMPLOYED_FROM,NAME_EMPLOYER,NAME_INCOME_TYPE,CODE_PROFESSION,CODE_EMPLOYER_INDUSTRY,AMT_INCOME_MAIN,INCOME_CATEGORY,AMT_INCOME_OTHER,AMT_REMITTANCE,AMT_EXPENSE_DEBT,PARTNER,CODE_SELLER,CODE_SELLER_CATEGORY,NAME_SALESROOM,MALL,CODE_SALESROOM,NAME_EMPL,DSM,NAME_GOODS_CATEGORY,NAME_GOODS_TYPE,NAME_PRODUCER,TEXT_MODEL_NUMBER,AMT_CREDIT,AMT_GOODS_PRICE,AMT_BUNDLES_MAX,AMT_DOWN_PAYMENT,AMT_ANNUITY,AMT_FEE_ORIGINATION,AMT_PAYMENT_CASH,CNT_INSTALMENT,RATE_FLAT,RATE_INTEREST,HC_RATE_OLD,HC_RATE,HC_RATE_W_GIFT_ADJ,FA_CATEGORY,PRICE_CATEGORY,DP_CATEGORY,TERM_CATEGORY,AVG_CASH,CNT_APPROVE,CNT_REJECTED,CNT_IN_PROCESS,CNT_SIGNED,CNT_CANCELLED_IN_PROCESS,CNT_RETURNED,CNT_ACTIVE,CNT_CANCELLED_POST,FLAG_CANCELLED_PRE_APPROVAL,CODE_EMPLOYEE,WEIGHTED_TERM,WEIGHTED_HC_RATE,DURATION,REMITTANCE_TYPE,FINGER_PRINT_RECIEVED,FLAG_INSURANCE,FLAG_CASHLOAN,FLAG_ACTION,FLAG_GIFT,FLAG_BUNDLES,CNT_PRODUCT,POS_REGION,POS_DISTRICT,CODE_PRODUCT,REMITTER,UWI_REGION,SKP_CLIENT,SKP_PRODUCT,SKP_CONTRACT,SKP_APPLICATION,SKP_CREDIT_TYPE,FLAG_KNOWN_APPLICANT,FLAG_KNOWN_CLIENT,FLAG_TOP_UP,NAME_FIRST,NAME_LAST,NAME_MIDDLE,NAME_MOTHER,FLAG_ONLINE_MCL,PRODUCT_TYPE,FLAG_MC_ELIGIBLE,FLAG_ESIGN,POS_GROUP,FLAG_SOLD,FLAG_POSITIVE_OFFER,ORIGINAL_AMT_PAYMENT_CASH,FLAG_EXISTING_SC,FLAG_MOB_APP,DATE_DECISION,FLAG_WORKING_DAY_DECISION,RATE_PAYMENT_CASH_MIN,EXTRA_DP_RATE,EXTRA_DP_AMOUNT,NAME_CLASS_STATUS,ANON_SKP_CREDIT_CASE,AMT_CREDIT_NO_VAS,RISK_GRADE_CBN_POS,AMT_ANNUITY_WO_FEE,CANCELLATION_TYPE,TEXT_CANCELLATION_REASON,RG_PD,RG_SIMULATED,COLUMN1,COLUMN2,FLAG_RBP,FLAG_AFTER_RBP_ROLL_OUT,FLAG_RBP_WAVE_DATE,FLAG_RBP_WAVE_AREA,SNAPP_LOAN_APP_NO,LIN_SCORE_UNIVERSAL,PD_SCORE_UNIVERSAL,UNIVERSAL_RISK_GRADE,FIRST_BOD_CHANNEL,SECOND_BOD_CHANNEL,LIN_SCORE_UNIVERSAL_OLD,PD_SCORE_UNIVERSAL_OLD,UNIVERSAL_RISK_GRADE_OLD,FLAG_GUARANTEED_LIMIT,ID_CUID_UPDATED,SKP_CLIENT_UPDATED,REJECT_REASON,REJECTION_STAGE,REJECT_REASON_OWNER,REJECT_REASON_TOTAL,FLAG_PILOT_BVM,REL_RG,PRODUCT_TYPE_V2,PRERESULT_FANT_TYPE,PRERESULT_FANT_CODE,ATTRIBUTION_TYPE
0,7617760262,103512623297,4616875356,Rejected,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,11,1,1,1,1,nan,nan,nan,M,XNA,Single,LIVING_WITH_PARENTS,0.0,2000-08-10 00:00:00,24.0,2021-06-01 00:00:00,converge,Private/Employed,OTHER,OTHER,15000.0,IM_10+_17,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,Mobile Paperless,NaN,001270009,Mobile_User,NaN,Mobile / Tablet,Mobile Phone,VIVO,Vivo V40 Lite 5G 8+256,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.200013,0,1,0,0,0,0,0,0,N,Mobile_User,196944.0,0.0,NaN,No remittance,NaN,1,0,1,0,0,1.0,OTHER,LA UNION,LZ00MPVI5B,nan,I (ILOCOS REGION),6643399071,3035912,-79,14753948741,1,0,0,0,Julius Grand R.K.,*,Supsup,*,0,POS,NaN,0,XNA,NaN,0.0,3200.0,0,1,2025-01-23 00:00:00,1,0.0,0.200013,3200.0,Acquisition,2c684d89-aa59-7bb2-e063-2206480ac1e0,12799.0,E,1368.0,nan,nan,H,K,NaN,NaN,1.0,NaN,nan,WAVE_4,4500548839,-1.959957,0.123472,K2,MOB,SNAPP,NaN,NaN,NaN,0.0,4616875356,6643399071,SCO,PRE,UWI,1.0,NaN,NaN,POS,nan,nan,nan
1,7617760479,103512865510,330313354,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,16,1,1,1,1,2025-01-23 16:41:32,2025-01-23 16:48:42,nan,M,XNA,Single,LIVING_WITH_RELATIVES,0.0,1996-09-22 00:00:00,28.0,2022-03-01 00:00:00,Vitoviel Par,Private/Employed,OTHER,TRADE,28512.0,IM_25+_40,0.0,NaN,0.0,LGK Guanzon Incorporated,00353,RKA,Guanzon Mobitek - Nepo Mall Alaminos,NaN,003530004,Mobile_User,NaN,Mobile / Tablet,Mobile Phone,Xiaomi,Xiaomi 14T (12+512),*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_20+_30,GP_20+_30,DP_0%_25%,Term_0_12,0.000000,1,0,0,1,0,0,1,0,N,Mobile_User,355296.0,0.0,NaN,No remittance,NaN,1,0,1,0,0,1.0,LUZON_NORTH,PANGASINAN,LZ00MPXI3U,nan,I (ILOCOS REGION),983187836,3037045,13908141022,14753997632,1,0,1,0,John FranZ,*,Casta,*,0,POS,NaN,0,XNA,NaN,0.0,0.0,1,1,2025-01-23 00:00:00,1,0.0,0.000000,0.0,Non Acquisition,2c684d89-aa5e-7bb2-e063-2206480ac1e0,27999.0,B,2468.0,nan,nan,C,nan,NaN,NaN,1.0,NaN,nan,WAVE_4,4500559370,-3.711399,0.023860,E,MOB,SNAPP,NaN,NaN,NaN,0.0,330313354,983187836,nan,nan,nan,NaN,NaN,NaN,POS,Hard Checks,MAXAGR,nan
2,7617760727,103512981775,4620721669,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,20,1,1,1,1,2025-01-25 13:54:23,2025-01-25 14:33:00,nan,M,XNA,Single,LIVING_WITH_RELATIVES,0.0,2000-10-11 00:00:00,24.0,2024-07-01 00:00:00,LGM Solution LTD,Private/Employed,OTHER,OTHER,35000.0,IM_25+_40,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,Mobile Paperless,NaN,001270009,Mobile_User,NaN,Mobile / Tablet,Mobile Phone,Honor,Honor X9c Voucher,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_10+_15,GP_15+_20,DP_40%+,Term_0_12,0.400024,1,0,0,1,0,0,1,0,N,Mobile_User,149808.0,0.0,NaN,No remittance,NaN,1,0,1,0,0,1.0,NCR_SOUTH,MANILA CITY,LZ00MPHN49,nan,NCR_1,6641400847,3081459,13908179890,14754570521,1,0,0,0,Dominick,*,Macalua,*,0,POS,NaN,0,XNA,NaN,0.0,6800.0,0,1,2025-01-23 00:00:00,1,0.0,0.400024,6800.0,Acquisition,2c684d89-aa63-7bb2-e063-2206480ac1e0,10199.0,F,1041.0,nan,nan,B,K,NaN,NaN,1.0,NaN,nan,WAVE_6,4500564425,-2.774686,0.058708,H2,MOB,SNAPP,NaN,NaN,NaN,0.0,4620721669,6641400847,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan
3,7617760758,103512865809,4619397349,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,16,1,1,1,1,2025-01-25 13:44:19,2025-01-25 13:51:44,nan,M,XNA,Single,LIVING_WITH_PARENTS,4.0,2000-05-05 00:00:00,24.0,2019-01-01 00:00:00,San Sebastian Parish,Private/Employed,OTHER,FINANCIAL,40000.0,IM_25+_40,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,Mobile Paperless,NaN,001270009,Mobile_User,NaN,Mobile / Tablet,Tablet,APPLE,iPad 9th generation,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_20+_30,DP_40%+,Term_0_12,0.438808,1,0,0,1,0,0,1,0,N,Mobile_User,198144.0,0.0,NaN,No remittance,NaN,1,0,1,0,0,1.0,VISAYAS_WEST,NEGROS ORIENTAL,LZ12MPAP03,nan,VII (CENTRAL VISAYAS),6642421614,3020937,13908169146,14754576369,1,0,0,0,Christian,*,Balansag,*,0,POS,NaN,0,XNA,NaN,0.0,10000.0,0,1,2025-01-23 00:00:00,1,0.0,0.438808,10000.0,Acquisition,2c684d89-aa68-7bb2-e063-2206480ac1e0,12789.0,D,1376.0,nan,nan,B,K,NaN,NaN,1.0,NaN,nan,WAVE_7_ALDI,4500559383,-2.950967,0.049691,H2,MOB,SNAPP,NaN,NaN,NaN,0.0,4619397349,6642421614,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan
4,7617760820,103512868109,4619526755,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,16,1,1,1,1,2025-01-23 16:51:24,2025-01-23 19:12:46,nan,M,XNA,Married,OWNED,1.0,1984-09-06 00:00:00,40.0,2022-05-20 00:00:00,FCF Manufacturing Corp.,Private/Employed,XNA,MANUFACTURING_PROCES,18000.0,IM_17+_25,0.0,NaN,0.0,Ameeriz Enterprises Co. Ltd.,FTCHPH,STAND,Ameeriz Enterprises Co. Ltd. (V. Semilla St.) ...,NaN,KTKJTVLAV,Koyal_User,NaN,Mobile / Tablet,Mobile Phone,Honor,Honor X9c Voucher,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.200012,1,0,0,1,0,0,1,0,N,Koyal_User,208692.0,0.0,NaN,No remittance,NaN,1,0,1,0,0,1.0,LUZON_CENTRAL,BATAAN,LZ00MPHN49,nan,III (CENTRAL LUZON),6641466877,3081459,13908187000,14754745789,1,0,0,0,ALEXANDER,*,GERONIMO,*,0,POS,NaN,0,XNA,NaN,0.0,3400.0,0,1,2025-01-23 00:00:00,1,0.0,0.200012,3400.0,Acquisition,2c684d89-aa6d-7bb2-e063-2206480ac1e0,13599.0,E,1450.0,nan,nan,E,K,NaN,NaN,1.0,NaN,nan,WAVE_4,4500559483,-2.403064,0.082939,J1,GMA,SNAPP,NaN,NaN,NaN,0.0,4619526755,6641466877,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21822,7619327777,103512780755,1129572247,Rejected,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,14,1,1,1,1,nan,nan,nan,F,XNA,XNA,XNA,0.0,1966-08-17 00:00:00,58.0,nan,XNA,Remittance,XNA,XNA,150000.0,IM_40+,0.0,NaN,0.0,"Scan & Print Graphic House, Inc.",00103,NKA,DJI - SM North Edsa,NaN,HSN2OZOEY,John Rex Baltisoto,NaN,HMO,HMO Card,Other,HMO,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.000000,0,1,0,0,0,0,0,0,N,198900,187056.0,0.0,NaN,No remittance,NaN,0,0,0,0,0,1.0,NCR_NORTH,QUEZON CITY,PINSHMO01,nan,NCR_2,2772749155,3017713,-79,14754283367,1,0,1,0,Imelda,*,Fernandez,*,0,SAI,NaN,0,XNA,NaN,0.0,0.0,1,0,2025-01-23 00:00:00,1,NaN,NaN,NaN,Non Acquisition,2c684d8b-f8fe-7bb2-e063-2206480ac1e0,15588.0,nan,1299.0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,NaN,1129572247,2772749155,nan,nan,nan,NaN,NaN,NaN,SAI,nan,nan,nan
21823,7619362621,103512651127,882863624,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,11,1,1,1,1,2025-01-23 11:50:23,2025-01-24 08:21:27,nan,F,XNA,XNA,XNA,0.0,1974-04-04 00:00:00,50.0,2019-07-01 00:00:00,AMJCE INDUSTRIAL ENG SERVICES,Self-employed,XNA,XNA,100000.0,IM_40+,0.0,NaN,0.0,Prismatech Inc.,01407,NKA,PC Express - SM Sucat,NaN,3TAOAT6I6,Jayson Ras,NaN,HMO,HMO Card,Other,N/A,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.000000,1,0,0,1,0,0,1,0,N,200546,187056.0,0.0,NaN,No remittance,NaN,0,0,0,0,0,1.0,NCR_SOUTH,PARANAQUE CITY,PINSHMO01,nan,NCR_4,2193897870,3017713,13909750252,14755971117,1,1,0,0,Christina,*,Lado,*,0,SAI,NaN,0,XNA,NaN,0.0,0.0,0,0,2025-01-23 00:00:00,1,NaN,NaN,NaN,Acquisition,2c684d8b-f903-7bb2-e063-2206480ac1e0,15588.0,nan,1299.0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,882863624,2193897870,nan,nan,nan,NaN,NaN,NaN,SAI,nan,nan,nan
21824,7619380973,103512923861,4620116469,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,18,1,1,1,1,2025-01-23 18:13:10,2025-01-24 13:42:18,nan,M,XNA,XNA,XNA,0.0,1987-03-23 00:00:00,37.0,2018-12-01 00:00:00,Cellphone Repair,Self-employed,XNA,XNA,35000.0,IM_25+_40,0.0,NaN,0.0,Markcom Cellphone and Accessories Shop,UM1A4T,STAND,Markcom Cellphone and Accessories - Sariaya,NaN,3KZCJMFNJ,Jheric Ilagan,NaN,HMO,HMO Card,Other,Premium Health Plan,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.000000,1,0,0,1,0,0,1,0,N,ph00214037,187056.0,0.0,NaN,No remittance,NaN,0,0,0,0,0,1.0,BICOL,QUEZON,PINSHMO01,nan,IV-A (CALABARZON),6641372305,3017713,13909662167,14755127887,1,0,0,0,Mark,*,Tan,*,0,SAI,NaN,0,XNA,NaN,0.0,0.0,0,0,2025-01-23 00:00:00,1,NaN,NaN,NaN,Acquisition,2c684d8b-f908-7bb2-e063-2206480ac1e0,15588.0,nan,1299.0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,NaN,4620116469,6641372305,nan,nan,nan,NaN,NaN,NaN,SAI,nan,nan,nan
21825,7619381469,103512957395,172496952,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,19,1,1,1,1,2025-01-23 19:09:44,2025-01-24 11:15:54,nan,F,XNA,XNA,XNA,0.0,1984-07-09 00:00:00,40.0,2005-07-01 00:00:00,Cosmo Get-away Chain Travel and tours,Private/Employed,XNA,XNA,30000.0,IM_25+_40,0.0,NaN,0.0,Ela Wong Gadgets Shop,K7KQCT,STAND,Ela Wong Gadgets Shop - Sta. Lucia East,NaN,AFYPTRSST,Marthy Joshua Del Rosario,NaN,HMO,HMO Card,Other,Premium Health Plan,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.000000,1,0,0,1,0,0,1,0,N,196513,187056.0,0.0,NaN,No remittance,NaN,0,0,0,0,0,1.0,NCR_NORTH,RIZAL,PINSHMO01,nan,IV-A (CALABARZON),679567909,3017713,13909621798,14756074059,1,0,1,0,Cherry,*,Salandanan,*,0,SAI,NaN,0,XNA,NaN,0.0,0.0,1,0,2025-01-23 00:00:00,1,NaN,NaN,NaN,Non Acquisition,2c684d8b-f90d-7bb2-e063-2206480ac1e0,15588.0,nan,1299.0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,172496952,679567909,nan,nan,nan,NaN,NaN,NaN,SAI,nan,nan,nan
21826,7619381500,103512970689,172496952,Active,Other,2025-01-23 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,19,1,1,1,1,2025-01-23 19:39:20,2025-01-24 12:35:32,nan,F,XNA,XNA,XNA,0.0,1984-07-09 00:00:00,40.0,2005-07-01 00:00:00,Cosmo Get-Away Chain Travel and Tours Inc,Private/Employed,XNA,XNA,30000.0,IM_25+_40,0.0,NaN,0.0,Ela Wong Gadgets Shop,K7KQCT,STAND,Ela Wong Gadgets Shop - Sta. Lucia East,NaN,AFYPTRSST,Marthy Joshua Del Rosario,NaN,HMO,HMO Card,Other,Premium Health Plan,*,*,*,*,*,*,*,12.0,*,*,*,*,*,FA_15+_20,GP_15+_20,DP_0%_25%,Term_0_12,0.000000,1,0,0,1,0,0,1,0,N,196513,187056.0,0.0,NaN,No remittance,NaN,0,0,0,0,0,1.0,NCR_NORTH,RIZAL,PINSHMO01,nan,IV-A (CALABARZON),679567909,3017713,13909664695,14755752204,1,1,1,0,Cherry,*,Salandanan,*,0,SAI,NaN,0,XNA,NaN,0.0,0.0,1,0,2025-01-23 00:00:00,1,NaN,NaN,NaN,Non Acquisition,2c684d8b-f912-7bb2-e063-2206480ac1e0,15588.0,nan,1299.0,nan,nan,NaN,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,172496952,679567909,nan,nan,nan,NaN,NaN,NaN,SAI,nan,nan,nan

# Variable Query to Data Frame
This section utilizes SQL query with date parameters. When dealing with large dataset and chunking method is insufficient, this function will load the SQL query on separate dates thus partitioning it to multiple small datasets before concatenating into one dataframe.

## Pre-requisites

In [37]:
query_c_date = f'''
select * from ap_risk.summary_contract
where 1=1
      and date_application >= c_date_start
      and date_application <  c_date_end
'''

c_date_start = "DATE '2024-10-07'"
c_date_end = "DATE '2024-10-14'"

# ## Optional arguments
# time_out = 0 # default = 60
# temporal = 'weekly' # default = 'monthly'
# chunk_size = 500000 # default = 1000000

In [38]:
# Apply Oracle hint in the query if none. This step is optional.
query_c_date = apply_ora_hint(query_c_date)

## Process data

In [39]:
# df = var_query_to_df(query_c_date,schema,c_date_start,c_date_end,time_out,temporal,chunk_size=chunk_size)
df = var_query_to_df(query_c_date,schema,c_date_start,c_date_end)
del query_c_date
del c_date_start
del c_date_end

df

Timeline: DATE '2024-10-07' to DATE '2024-10-14'
Process takes too long. Partitioning timeline by day and populating individually.
Timeline: DATE '2024-10-07' to DATE '2024-10-08'
CHUNK 1 appended to list. Time elapsed: 8.452637
Chunking done. Time elapsed: 8.526656 s
Fetching Oracle data types.
Time elapsed: 0.502067
Fetching python data types.
Time elapsed: 7.935249
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 1 created. Time elapsed: 13.364444 s
Appended to main dataframe. Time elapsed: 82.249285 s
Timeline: DATE '2024-10-08' to DATE '2024-10-09'
CHUNK 1 appended to list. Time elapsed: 8.760125
Chunking done. Time elapsed: 8.814749 s
Fetching Oracle data types.
Time elapsed: 0.512429
Fetching python data types.
Time elapsed: 7.966558
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 2 created. Time elapsed: 13.203205 s
Appended to main dataframe. Time elapsed: 104.273894 s
Timeline: DATE '2024-10-09' to DATE '2024-10-10'
CHUNK 1 appended to list. Time elapsed: 8.583590
Chunking done. Time elapsed: 8.630830 s
Fetching Oracle data types.
Time elapsed: 0.670161
Fetching python data types.
Time elapsed: 7.717251
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 3 created. Time elapsed: 14.504767 s
Appended to main dataframe. Time elapsed: 127.409491 s
Timeline: DATE '2024-10-10' to DATE '2024-10-11'
CHUNK 1 appended to list. Time elapsed: 7.559394
Chunking done. Time elapsed: 7.628045 s
Fetching Oracle data types.
Time elapsed: 0.433402
Fetching python data types.
Time elapsed: 7.456917
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 4 created. Time elapsed: 13.997330 s
Appended to main dataframe. Time elapsed: 149.035895 s
Timeline: DATE '2024-10-11' to DATE '2024-10-12'
CHUNK 1 appended to list. Time elapsed: 9.511599
Chunking done. Time elapsed: 9.559436 s
Fetching Oracle data types.
Time elapsed: 0.735920
Fetching python data types.
Time elapsed: 12.061260
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 5 created. Time elapsed: 17.399524 s
Appended to main dataframe. Time elapsed: 175.994854 s
Timeline: DATE '2024-10-12' to DATE '2024-10-13'
CHUNK 1 appended to list. Time elapsed: 10.438478
Chunking done. Time elapsed: 10.522241 s
Fetching Oracle data types.
Time elapsed: 0.517427
Fetching python data types.
Time elapsed: 7.673392
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 6 created. Time elapsed: 13.349169 s
Appended to main dataframe. Time elapsed: 199.866783 s
Timeline: DATE '2024-10-13' to DATE '2024-10-14'
CHUNK 1 appended to list. Time elapsed: 14.683897
Chunking done. Time elapsed: 14.748496 s
Fetching Oracle data types.
Time elapsed: 0.585178
Fetching python data types.
Time elapsed: 7.508512
Converting to sqlalchemy data types.
Chunk list deleted.
Partial Dataframe 7 created. Time elapsed: 14.681646 s
Appended to main dataframe. Time elapsed: 229.296926 s
Dataframe created. Time elapsed: 168.938740 s

,SKP_CREDIT_CASE,TEXT_CONTRACT_NUMBER,ID_CUID,NAME_CREDIT_STATUS,MS,DATE_APPLICATION,WEEK_APPLICATION,MONTH_APPLICATION,HOUR_APPLICATION,FLAG_LAST7DAYS,FLAG_LAST7_WEEKS,FLAG_LAST_7_MONTHS,FLAG_WORKING_DAY,DTIME_SIGN,DTIME_ACTIVE,DTIME_RETURN,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,CODE_HOUSING_TYPE,CNT_PERSON_DEPENDENT,DATE_BIRTH,AGE,DATE_EMPLOYED_FROM,NAME_EMPLOYER,NAME_INCOME_TYPE,CODE_PROFESSION,CODE_EMPLOYER_INDUSTRY,AMT_INCOME_MAIN,INCOME_CATEGORY,AMT_INCOME_OTHER,AMT_REMITTANCE,AMT_EXPENSE_DEBT,PARTNER,CODE_SELLER,CODE_SELLER_CATEGORY,NAME_SALESROOM,MALL,CODE_SALESROOM,NAME_EMPL,DSM,NAME_GOODS_CATEGORY,NAME_GOODS_TYPE,NAME_PRODUCER,TEXT_MODEL_NUMBER,AMT_CREDIT,AMT_GOODS_PRICE,AMT_BUNDLES_MAX,AMT_DOWN_PAYMENT,AMT_ANNUITY,AMT_FEE_ORIGINATION,AMT_PAYMENT_CASH,CNT_INSTALMENT,RATE_FLAT,RATE_INTEREST,HC_RATE_OLD,HC_RATE,HC_RATE_W_GIFT_ADJ,FA_CATEGORY,PRICE_CATEGORY,DP_CATEGORY,TERM_CATEGORY,AVG_CASH,CNT_APPROVE,CNT_REJECTED,CNT_IN_PROCESS,CNT_SIGNED,CNT_CANCELLED_IN_PROCESS,CNT_RETURNED,CNT_ACTIVE,CNT_CANCELLED_POST,FLAG_CANCELLED_PRE_APPROVAL,CODE_EMPLOYEE,WEIGHTED_TERM,WEIGHTED_HC_RATE,DURATION,REMITTANCE_TYPE,FINGER_PRINT_RECIEVED,FLAG_INSURANCE,FLAG_CASHLOAN,FLAG_ACTION,FLAG_GIFT,FLAG_BUNDLES,CNT_PRODUCT,POS_REGION,POS_DISTRICT,CODE_PRODUCT,REMITTER,UWI_REGION,SKP_CLIENT,SKP_PRODUCT,SKP_CONTRACT,SKP_APPLICATION,SKP_CREDIT_TYPE,FLAG_KNOWN_APPLICANT,FLAG_KNOWN_CLIENT,FLAG_TOP_UP,NAME_FIRST,NAME_LAST,NAME_MIDDLE,NAME_MOTHER,FLAG_ONLINE_MCL,PRODUCT_TYPE,FLAG_MC_ELIGIBLE,FLAG_ESIGN,POS_GROUP,FLAG_SOLD,FLAG_POSITIVE_OFFER,ORIGINAL_AMT_PAYMENT_CASH,FLAG_EXISTING_SC,FLAG_MOB_APP,DATE_DECISION,FLAG_WORKING_DAY_DECISION,RATE_PAYMENT_CASH_MIN,EXTRA_DP_RATE,EXTRA_DP_AMOUNT,NAME_CLASS_STATUS,ANON_SKP_CREDIT_CASE,AMT_CREDIT_NO_VAS,RISK_GRADE_CBN_POS,AMT_ANNUITY_WO_FEE,CANCELLATION_TYPE,TEXT_CANCELLATION_REASON,RG_PD,RG_SIMULATED,COLUMN1,COLUMN2,FLAG_RBP,FLAG_AFTER_RBP_ROLL_OUT,FLAG_RBP_WAVE_DATE,FLAG_RBP_WAVE_AREA,SNAPP_LOAN_APP_NO,LIN_SCORE_UNIVERSAL,PD_SCORE_UNIVERSAL,UNIVERSAL_RISK_GRADE,FIRST_BOD_CHANNEL,SECOND_BOD_CHANNEL,LIN_SCORE_UNIVERSAL_OLD,PD_SCORE_UNIVERSAL_OLD,UNIVERSAL_RISK_GRADE_OLD,FLAG_GUARANTEED_LIMIT,ID_CUID_UPDATED,SKP_CLIENT_UPDATED,REJECT_REASON,REJECTION_STAGE,REJECT_REASON_OWNER,REJECT_REASON_TOTAL,FLAG_PILOT_BVM,REL_RG,PRODUCT_TYPE_V2,PRERESULT_FANT_TYPE,PRERESULT_FANT_CODE,ATTRIBUTION_TYPE
0,7377902009,101338567157,3939666346,Cancelled,Other,2024-10-07 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,0,0,0,1,1,nan,nan,nan,F,XNA,Single,LIVING_WITH_PARENTS,7.0,2002-07-16 00:00:00,22.0,2022-10-06 00:00:00,online seller,Self-employed,XNA,OTHER,15000.0,IM_10+_17,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,MANILA CITY,XNA,nan,NCR_1,6284148727,-1,-79,14451138957,-1,0,0,0,ressan,*,Bejarin,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,2024-10-21 00:00:00,1,-1.0,NaN,NaN,Acquisition,2505d5b3-b8e1-bfc6-e063-2206480a44e8,NaN,J,NaN,Scheduler,XSELL_NOT_TAKEN,N/A,K,NaN,NaN,0.0,NaN,nan,NON-RBP,nan,NaN,NaN,nan,GMA,nan,NaN,NaN,NaN,0.0,3939666346,6284148727,nan,nan,nan,NaN,NaN,NaN,POS,NaN,NaN,nan
1,7377805289,101338567295,3462652868,Cancelled,Other,2024-10-07 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,0,0,0,1,1,nan,nan,nan,M,XNA,Single,OWNED,0.0,1990-02-20 00:00:00,34.0,2017-07-06 00:00:00,Rj meatshop/ argie sari sari storw,Self-employed,XNA,FOOD_BEVERAGE,3532700.0,IM_40+,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,MANILA CITY,XNA,nan,NCR_1,6033868828,-1,-79,14416636832,-1,0,0,0,ARGIE,*,SAMUYA,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,2024-10-09 00:00:00,1,-1.0,NaN,NaN,Acquisition,2413e85c-17ab-b968-e063-2206480ac480,NaN,E,NaN,Employee,NO_MORE_INTEREST,N/A,E,NaN,NaN,0.0,NaN,nan,NON-RBP,nan,NaN,NaN,nan,GMA,nan,NaN,NaN,NaN,0.0,3462652868,6033868828,nan,nan,nan,NaN,NaN,NaN,POS,NaN,NaN,nan
2,7377746048,101338567226,1235186144,Cancelled,Other,2024-10-07 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,0,0,0,1,1,nan,nan,nan,F,XNA,Single,OWNED,0.0,2000-06-27 00:00:00,24.0,2023-04-01 00:00:00,AMAZON,Private/Employed,OTHER,OTHER,50000.0,IM_40+,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,MANILA CITY,XNA,nan,NCR_1,3739611038,-1,-79,14451294015,-1,0,1,0,christyl Joyce,*,Villanueva,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,1,1,2024-10-21 00:00:00,1,-1.0,NaN,NaN,Non Acquisition,2505d5b3-bad0-bfc6-e063-2206480a44e8,NaN,D,NaN,Scheduler,XSELL_NOT_TAKEN,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,nan,NaN,NaN,nan,GMA,nan,NaN,NaN,NaN,0.0,1235186144,3739611038,nan,nan,nan,NaN,NaN,NaN,POS,NaN,NaN,nan
3,7378674994,101338567249,366573289,Cancelled,Other,2024-10-07 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,0,0,0,1,1,nan,nan,nan,F,XNA,Married,OWNED,2.0,1993-03-10 00:00:00,31.0,2024-03-18 00:00:00,KMC Mag Solution,Private/Employed,XNA,TECHNOLOGY,90000.0,IM_40+,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,MANILA CITY,XNA,nan,NCR_1,1029882832,-1,-79,14450569766,-1,0,1,0,Mhean,*,XNA,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,1,1,2024-10-21 00:00:00,1,-1.0,NaN,NaN,Non Acquisition,2505d5b3-bc65-bfc6-e063-2206480a44e8,NaN,C,NaN,Employee,NO_MORE_INTEREST,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,nan,NaN,NaN,nan,GMA,nan,NaN,NaN,NaN,0.0,366573289,1029882832,nan,nan,nan,NaN,NaN,NaN,POS,NaN,NaN,nan
4,7378720285,101338567203,706124309,Cancelled,Other,2024-10-07 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,0,0,0,1,1,nan,nan,nan,M,XNA,Married,OWNED,0.0,1989-10-15 00:00:00,34.0,2010-04-01 00:00:00,xmond distributor,Private/Employed,OTHER,TRANSPORTATION_FREIGHT,18000.0,IM_17+_25,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,Mobile Paperless,NaN,001270009,Mobile_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Mobile_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,TAGUIG CITY,XNA,nan,NCR_4,1885157565,-1,-79,14449921627,-1,0,1,0,Adonis Jean,*,Rebusora,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,1,1,2024-10-21 00:00:00,1,-1.0,NaN,NaN,Acquisition,2505d5b3-bcd3-bfc6-e063-2206480a44e8,NaN,F,NaN,Scheduler,XSELL_NOT_TAKEN,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,nan,NaN,NaN,nan,MOB,nan,NaN,NaN,NaN,0.0,706124309,1885157565,nan,nan,nan,NaN,NaN,NaN,POS,NaN,NaN,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170491,7391989742,101341994226,2341264616,Active,Other,2024-10-13 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,11,0,0,1,0,2024-10-13 11:38:32,2024-10-14 22:01:15,nan,M,XNA,Single,OWNED,0.0,1988-06-02 00:00:00,36.0,2007-05-01 00:00:00,Jane store,Self-employed,OTHER,TRADE,15000.0,IM_10+_17,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,FA_5+_10,XNA,XNA,XNA,NaN,1,0,0,1,0,0,1,0,N,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,MANILA CITY,VSTDVL001,nan,NCR_1,5039184388,2935442,13632668970,14428335713,3,1,1,0,BENSON,*,FRANCISCO,*,0,QW,NaN,0,XNA,NaN,0.0,0.0,1,1,2024-10-13 00:00:00,0,NaN,NaN,NaN,Non Acquisition,2463e3c5-440f-b4e2-e063-2206480a3153,10000.0,nan,0.0,nan,nan,E,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,GMA,NaN,NaN,NaN,0.0,2341264616,5039184388,nan,nan,nan,NaN,NaN,NaN,QW,NaN,NaN,nan
170492,7391261180,101342300816,220386873,Active,Other,2024-10-13 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,17,0,0,1,0,2024-10-13 17:03:59,2024-10-13 17:04:06,nan,M,XNA,Single,OWNED,2.0,1983-02-28 00:00:00,41.0,2017-09-01 00:00:00,JUDYVILLE SUBDIVISION WATER SYSTEM,Private/Employed,OTHER,OTHER,18000.0,IM_17+_25,0.0,NaN,0.0,Pick and Carry Cellphone Sales Distribution,00643,STAND,Pick and Carry Cellphone Sales Distribution - ...,NaN,006430002,Mobile_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,FA_5+_10,XNA,XNA,XNA,NaN,1,0,0,1,0,0,1,0,N,Mobile_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,VISAYAS_WEST,NEGROS ORIENTAL,VSTDVL001,nan,VII (CENTRAL VISAYAS),740047839,2935442,13634726841,14428270783,3,1,1,0,Arjay,*,Aguila,*,0,QW,NaN,0,XNA,NaN,0.0,0.0,1,0,2024-10-13 00:00:00,0,NaN,NaN,NaN,Non Acquisition,2463e3c5-4491-b4e2-e063-2206480a3153,10000.0,nan,0.0,nan,nan,B,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,220386873,740047839,nan,nan,nan,NaN,NaN,NaN,QW,NaN,NaN,nan
170493,7391546783,101342024356,72123909,Active,Other,2024-10-13 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,12,0,0,1,0,2024-10-13 12:06:38,2024-10-13 12:06:40,nan,M,XNA,Single,OWNED,0.0,1987-03-08 00:00:00,37.0,2019-07-01 00:00:00,DCHB,Self-employed,OTHER,CONSTRUCTION_REALESTATE,60000.0,IM_40+,0.0,NaN,0.0,"Casamia Furniture Center, Inc.",02146,NKA,Our Home - SM Fairview,NaN,2YKSNGXPS,Mobile_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,FA_5+_10,XNA,XNA,XNA,NaN,1,0,0,1,0,0,1,0,N,Mobile_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,NCR_NORTH,QUEZON CITY,VSTDVL001,nan,NCR_2,282772126,2935442,13634034880,14427710923,3,1,1,0,John Prancis,*,Suck,*,0,QW,NaN,0,XNA,NaN,0.0,0.0,1,0,2024-10-13 00:00:00,0,NaN,NaN,NaN,Non Acquisition,2463e3c5-489c-b4e2-e063-2206480a3153,10000.0,nan,0.0,nan,nan,A+,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,72123909,282772126,nan,nan,nan,NaN,NaN,NaN,QW,NaN,NaN,nan
170494,7391027688,101342277103,3976279878,Active,Other,2024-10-13 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,16,0,0,1,0,2024-10-13 16:57:12,2024-10-13 16:57:17,nan,F,XNA,Single,OWNED,0.0,1996-07-16 00:00:00,28.0,2022-08-01 00:00:00,Davao Medical School Foundation,Private/Employed,OTHER,HEALTH,50000.0,IM_40+,0.0,NaN,0.0,"Power Mac Center, Inc.",00932,NKA,Power Mac Center - Abreeza Mall Davao,NaN,3FDGNH0T5,Mobile_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,FA_5+_10,XNA,XNA,XNA,NaN,1,0,0,1,0,0,1,0,N,Mobile_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,MINDANAO_SOUTH,DAVAO DEL SUR,VSTDVL001,nan,XI (DAVAO REGION),6306342333,2935442,13633451623,14426893794,3,1,1,0,Mary Alicia,*,Damian,*,0,QW,NaN,0,XNA,NaN,0.0,0.0,0,0,2024-10-13 00:00:00,0,NaN,NaN,NaN,Non Acquisition,2463e3c5-49a5-b4e2-e063-2206480a3153,10000.0,nan,0.0,nan,nan,A+,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,3976279878,6306342333,nan,nan,nan,NaN,NaN,NaN,QW,NaN,NaN,nan
170495,7391887876,101342348173,475493269,Active,Other,2024-10-13 00:00:00,2024-10-07 00:00:00,2024-10-01 00:00:00,17,0,0,1,0,2024-10-13 17:46:01,2024-10-13 17:46:04,nan,F,XNA,Single,OWNED,1.0,1995-10-30 00:00:00,28.0,2018-02-01 00:00:00,Common Room,Private/Employed,OTHER,OTHER,25000.0,IM_17+_25,0.0,NaN,0.0,Star Appliance Center Inc.,00114,NKA,SM Appliance - SM Fairview,NaN,001140013,Mobile_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,FA_5+_10,XNA,XNA,XNA,NaN,1,0,0,1,0,0,1,0,N,Mobile_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,NCR_NORTH,QUEZON CITY,VSTDVL001,nan,NCR_2,1211143134,2935442,13634116092,14426826284,3,1,1,0,Caroll,*,Margallo,*,0,QW,NaN,0,XNA,NaN,0.0,0.0,1,0,2024-10-13 00:00:00,0,NaN,NaN,NaN,Non Acquisition,2463e3c5-4af4-b4e2-e063-2206480a3153,10000.0,nan,0.0,nan,nan,A+,nan,NaN,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,nan,nan,BSL,NaN,NaN,NaN,0.0,475493269,1211143134,nan,nan,nan,NaN,NaN,NaN,QW,NaN,NaN,nan

# Data Frame to Excel
This section pre-process the data to avoid XML errors when saving to workbook. When saving large dataset exceeding Excel maximum rows, it will automatically chunk the data into different sheets.

## Pre-requisites

In [40]:
fname = 'TEST_DF_TO_EXCEL.xlsx'

### Create sample data frame with 10M x 5 shape to test performance on large dataset.

In [41]:
# Generate data for each column
column_1 = np.random.randint(10_000_000, 11_000_000, size=(10_000_000)) # Integers
column_2 = np.random.randint(490_000, 800_000, size=(10_000_000))/100 # Floats
column_3 = np.random.choice(['A+','A', 'B', 'C', 'D','E','F','G','H','I','J','K'], size=(10_000_000)) # Categorical
column_4 = pd.date_range('2023-01-01', periods=10_000_000, freq='T') # Datetime
column_5 = np.random.randint(490_000*6, 12_000_000, size=(10_000_000))/100 # # Another set of Floats

# Create DataFrame
data = {
    'ID_CUID': column_1,
    'AMT_ANNUITY': column_2,
    'RISK_GRADE': column_3,
    'DATE_APPLICATION': column_4,
    'AMT_CREDIT': column_5
}

df = pd.DataFrame(data)
df

          ID_CUID  AMT_ANNUITY RISK_GRADE    DATE_APPLICATION  AMT_CREDIT
0        10211944      6286.87          B 2023-01-01 00:00:00    98564.27
1        10353989      6177.47          G 2023-01-01 00:01:00    46433.40
2        10001180      5670.16          I 2023-01-01 00:02:00    75153.46
3        10098704      6821.06          E 2023-01-01 00:03:00    92525.11
4        10607189      6733.63          D 2023-01-01 00:04:00    29932.05
...           ...          ...        ...                 ...         ...
9999995  10503234      5661.04         A+ 2042-01-05 10:35:00    49988.77
9999996  10012174      7894.52          C 2042-01-05 10:36:00    36296.22
9999997  10176573      6644.12          B 2042-01-05 10:37:00    85004.93
9999998  10235586      4933.73          G 2042-01-05 10:38:00    69956.30
9999999  10105486      7740.97          A 2042-01-05 10:39:00   107721.48

[10000000 rows x 5 columns]

## Process data

In [42]:
df_to_excel(df,schema,fname)
del fname
del column_1
del column_2
del column_3
del column_4
del column_5
del data
del df

Fetching Oracle data types.
Time elapsed: 0.685464
Fetching python data types.
Time elapsed: 348.090451
Converting to sqlalchemy data types.
New sheet created for CHUNK 1. Time elapsed: 8.592081
New sheet created for CHUNK 2. Time elapsed: 9.264383
New sheet created for CHUNK 3. Time elapsed: 8.299145
New sheet created for CHUNK 4. Time elapsed: 8.198022
New sheet created for CHUNK 5. Time elapsed: 8.583251
New sheet created for CHUNK 6. Time elapsed: 8.112489
New sheet created for CHUNK 7. Time elapsed: 8.296040
New sheet created for CHUNK 8. Time elapsed: 8.489466
New sheet created for CHUNK 9. Time elapsed: 8.681748
New sheet created for CHUNK 10. Time elapsed: 8.462907
New sheet created for CHUNK 11. Time elapsed: 0.059578
Workbook created. Time elapsed: 550.202152 s

# Excel to SQL
This section reads the excel file, parse datetime columns in the correct format, convert python types into SQLalchemy types suitable for Oracle database before importing to SQL as table.

## Pre-requisites

In [43]:
fname = 'TEST_QUERY_TO_EXCEL.xlsx'
table_name = 'TEST_EXCEL_TO_SQL'
sheet_name = 'Sheet1'

## Process data

In [44]:
excel_to_sql(fname,schema,table_name,sheet_name)
del fname
del table_name
del sheet_name

Reading file as dataframe.
Time elapsed: 12.031705
Pre-processing data types.
Fetching Oracle data types.
Time elapsed: 0.306824
Fetching python data types.
Time elapsed: 20.099096
Converting to sqlalchemy data types.
Time elapsed: 33.865754
Fixing string datetime.
Time elapsed: 19.584854
Importing to database.
Execution time: 77.531092 s

# Insert Into SQL Table (per row)

## Pre-requisites

In [45]:
table_name = 'TEST_DTM_CREATE'
source_owner = 'AP_RISK'
source_table = 'SUMMARY_CONTRACT'
condition = "date_application >= trunc(sysdate-2)"

query_base = f'''
select * from {schema}.{table_name}
'''
query = f'''
select * from {source_owner}.{source_table}
{sql_where_condition(condition)}
'''

df_base = query_to_df(query_base,schema)
display(df_base.head())

df = query_to_df(query,schema)
display(df.head())

CHUNK 1 appended to list. Time elapsed: 28.169580
Chunking done. Time elapsed: 28.293394 s
Fetching Oracle data types.
Time elapsed: 0.984658
Fetching python data types.
Time elapsed: 6.634466
Converting to sqlalchemy data types.
Chunk list deleted.
Dataframe created. Time elapsed: 15.069928 s
Execution time: 43.363322 s

,SKP_CREDIT_CASE,TEXT_CONTRACT_NUMBER,ID_CUID,NAME_CREDIT_STATUS,MS,DATE_APPLICATION,WEEK_APPLICATION,MONTH_APPLICATION,HOUR_APPLICATION,FLAG_LAST7DAYS,FLAG_LAST7_WEEKS,FLAG_LAST_7_MONTHS,FLAG_WORKING_DAY,DTIME_SIGN,DTIME_ACTIVE,DTIME_RETURN,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,CODE_HOUSING_TYPE,CNT_PERSON_DEPENDENT,DATE_BIRTH,AGE,DATE_EMPLOYED_FROM,NAME_EMPLOYER,NAME_INCOME_TYPE,CODE_PROFESSION,CODE_EMPLOYER_INDUSTRY,AMT_INCOME_MAIN,INCOME_CATEGORY,AMT_INCOME_OTHER,AMT_REMITTANCE,AMT_EXPENSE_DEBT,PARTNER,CODE_SELLER,CODE_SELLER_CATEGORY,NAME_SALESROOM,MALL,CODE_SALESROOM,NAME_EMPL,DSM,NAME_GOODS_CATEGORY,NAME_GOODS_TYPE,NAME_PRODUCER,TEXT_MODEL_NUMBER,AMT_CREDIT,AMT_GOODS_PRICE,AMT_BUNDLES_MAX,AMT_DOWN_PAYMENT,AMT_ANNUITY,AMT_FEE_ORIGINATION,AMT_PAYMENT_CASH,CNT_INSTALMENT,RATE_FLAT,RATE_INTEREST,HC_RATE_OLD,HC_RATE,HC_RATE_W_GIFT_ADJ,FA_CATEGORY,PRICE_CATEGORY,DP_CATEGORY,TERM_CATEGORY,AVG_CASH,CNT_APPROVE,CNT_REJECTED,CNT_IN_PROCESS,CNT_SIGNED,CNT_CANCELLED_IN_PROCESS,CNT_RETURNED,CNT_ACTIVE,CNT_CANCELLED_POST,FLAG_CANCELLED_PRE_APPROVAL,CODE_EMPLOYEE,WEIGHTED_TERM,WEIGHTED_HC_RATE,DURATION,REMITTANCE_TYPE,FINGER_PRINT_RECIEVED,FLAG_INSURANCE,FLAG_CASHLOAN,FLAG_ACTION,FLAG_GIFT,FLAG_BUNDLES,CNT_PRODUCT,POS_REGION,POS_DISTRICT,CODE_PRODUCT,REMITTER,UWI_REGION,SKP_CLIENT,SKP_PRODUCT,SKP_CONTRACT,SKP_APPLICATION,SKP_CREDIT_TYPE,FLAG_KNOWN_APPLICANT,FLAG_KNOWN_CLIENT,FLAG_TOP_UP,NAME_FIRST,NAME_LAST,NAME_MIDDLE,NAME_MOTHER,FLAG_ONLINE_MCL,PRODUCT_TYPE,FLAG_MC_ELIGIBLE,FLAG_ESIGN,POS_GROUP,FLAG_SOLD,FLAG_POSITIVE_OFFER,ORIGINAL_AMT_PAYMENT_CASH,FLAG_EXISTING_SC,FLAG_MOB_APP,DATE_DECISION,FLAG_WORKING_DAY_DECISION,RATE_PAYMENT_CASH_MIN,EXTRA_DP_RATE,EXTRA_DP_AMOUNT,NAME_CLASS_STATUS,ANON_SKP_CREDIT_CASE,AMT_CREDIT_NO_VAS,RISK_GRADE_CBN_POS,AMT_ANNUITY_WO_FEE,CANCELLATION_TYPE,TEXT_CANCELLATION_REASON,RG_PD,RG_SIMULATED,COLUMN1,COLUMN2,FLAG_RBP,FLAG_AFTER_RBP_ROLL_OUT,FLAG_RBP_WAVE_DATE,FLAG_RBP_WAVE_AREA,SNAPP_LOAN_APP_NO,LIN_SCORE_UNIVERSAL,PD_SCORE_UNIVERSAL,UNIVERSAL_RISK_GRADE,FIRST_BOD_CHANNEL,SECOND_BOD_CHANNEL,LIN_SCORE_UNIVERSAL_OLD,PD_SCORE_UNIVERSAL_OLD,UNIVERSAL_RISK_GRADE_OLD,FLAG_GUARANTEED_LIMIT,ID_CUID_UPDATED,SKP_CLIENT_UPDATED,REJECT_REASON,REJECTION_STAGE,REJECT_REASON_OWNER,REJECT_REASON_TOTAL,FLAG_PILOT_BVM,REL_RG
0,7549734606,101389261549,4418696297,In Preprocess,Other,2024-12-23 00:00:00,2024-12-23 00:00:00,2024-12-01 00:00:00,10,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,6545716277,-1,-79,-43,-1,0,0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2a20abb2-06cb-8809-e063-2206480a7361,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,NON-RBP,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,4418696297,6545716277,nan,nan,nan,NaN,NaN,NaN
1,7549734699,101389564528,1897626316,Cancelled,Other,2024-12-23 00:00:00,2024-12-23 00:00:00,2024-12-01 00:00:00,13,1,1,1,1,nan,nan,nan,F,XNA,Single,LIVING_WITH_PARENTS,0.0,2000-12-30 00:00:00,23.0,2021-12-01 00:00:00,Sheryll Barbo Esponilla,Self-employed,OTHER,OTHER,45000.0,IM_40+,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,MANILA CITY,XNA,nan,NCR_1,4612641593,-1,-79,14657633385,-1,0,1,0,Sheryll,*,Barbo,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,1,1,2024-12-23 00:00:00,1,-1.0,NaN,NaN,Non Acquisition,29f7fad3-16aa-caaf-e063-2206480abb04,0.0,nan,NaN,Employee,NO_MORE_INTEREST,N/A,nan,NaN,NaN,0.0,NaN,NON-RBP,NON-RBP,NaN,NaN,NaN,nan,GMA,nan,NaN,NaN,NaN,0.0,1897626316,4612641593,nan,nan,nan,NaN,NaN,NaN
2,7549734947,101389191606,3095400064,In Preprocess,Other,2024-12-23 00:00:00,2024-12-23 00:00:00,2024-12-01 00:00:00,8,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,5761709498,-1,-79,-43,-1,0,1,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,1,1,nan,1,NaN,NaN,NaN,nan,2a20abb2-06d0-8809-e063-2206480a7361,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,NON-RBP,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,3095400064,5761709498,nan,nan,nan,NaN,NaN,NaN
3,7549735164,101389228544,2135603060,In Preprocess,Other,2024-12-23 00:00:00,2024-12-23 00:00:00,2024-12-01 00:00:00,9,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,4855732458,-1,-79,-43,-1,0,0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2a20abb2-06d5-8809-e063-2206480a7361,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,NON-RBP,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,2135603060,4855732458,nan,nan,nan,NaN,NaN,NaN
4,7549735195,101389531960,4420895754,In Preprocess,Other,2024-12-23 00:00:00,2024-12-23 00:00:00,2024-12-01 00:00:00,13,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,6544616913,-1,-79,-43,-1,0,0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2a20abb2-06da-8809-e063-2206480a7361,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,NON-RBP,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,4420895754,6544616913,nan,nan,nan,NaN,NaN,NaN

CHUNK 1 appended to list. Time elapsed: 13.392697
Chunking done. Time elapsed: 13.485481 s
Fetching Oracle data types.
Time elapsed: 0.539205
Fetching python data types.
Time elapsed: 6.594281
Converting to sqlalchemy data types.
Chunk list deleted.
Dataframe created. Time elapsed: 13.391820 s
Execution time: 26.878317 s

,SKP_CREDIT_CASE,TEXT_CONTRACT_NUMBER,ID_CUID,NAME_CREDIT_STATUS,MS,DATE_APPLICATION,WEEK_APPLICATION,MONTH_APPLICATION,HOUR_APPLICATION,FLAG_LAST7DAYS,FLAG_LAST7_WEEKS,FLAG_LAST_7_MONTHS,FLAG_WORKING_DAY,DTIME_SIGN,DTIME_ACTIVE,DTIME_RETURN,CODE_GENDER,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,CODE_HOUSING_TYPE,CNT_PERSON_DEPENDENT,DATE_BIRTH,AGE,DATE_EMPLOYED_FROM,NAME_EMPLOYER,NAME_INCOME_TYPE,CODE_PROFESSION,CODE_EMPLOYER_INDUSTRY,AMT_INCOME_MAIN,INCOME_CATEGORY,AMT_INCOME_OTHER,AMT_REMITTANCE,AMT_EXPENSE_DEBT,PARTNER,CODE_SELLER,CODE_SELLER_CATEGORY,NAME_SALESROOM,MALL,CODE_SALESROOM,NAME_EMPL,DSM,NAME_GOODS_CATEGORY,NAME_GOODS_TYPE,NAME_PRODUCER,TEXT_MODEL_NUMBER,AMT_CREDIT,AMT_GOODS_PRICE,AMT_BUNDLES_MAX,AMT_DOWN_PAYMENT,AMT_ANNUITY,AMT_FEE_ORIGINATION,AMT_PAYMENT_CASH,CNT_INSTALMENT,RATE_FLAT,RATE_INTEREST,HC_RATE_OLD,HC_RATE,HC_RATE_W_GIFT_ADJ,FA_CATEGORY,PRICE_CATEGORY,DP_CATEGORY,TERM_CATEGORY,AVG_CASH,CNT_APPROVE,CNT_REJECTED,CNT_IN_PROCESS,CNT_SIGNED,CNT_CANCELLED_IN_PROCESS,CNT_RETURNED,CNT_ACTIVE,CNT_CANCELLED_POST,FLAG_CANCELLED_PRE_APPROVAL,CODE_EMPLOYEE,WEIGHTED_TERM,WEIGHTED_HC_RATE,DURATION,REMITTANCE_TYPE,FINGER_PRINT_RECIEVED,FLAG_INSURANCE,FLAG_CASHLOAN,FLAG_ACTION,FLAG_GIFT,FLAG_BUNDLES,CNT_PRODUCT,POS_REGION,POS_DISTRICT,CODE_PRODUCT,REMITTER,UWI_REGION,SKP_CLIENT,SKP_PRODUCT,SKP_CONTRACT,SKP_APPLICATION,SKP_CREDIT_TYPE,FLAG_KNOWN_APPLICANT,FLAG_KNOWN_CLIENT,FLAG_TOP_UP,NAME_FIRST,NAME_LAST,NAME_MIDDLE,NAME_MOTHER,FLAG_ONLINE_MCL,PRODUCT_TYPE,FLAG_MC_ELIGIBLE,FLAG_ESIGN,POS_GROUP,FLAG_SOLD,FLAG_POSITIVE_OFFER,ORIGINAL_AMT_PAYMENT_CASH,FLAG_EXISTING_SC,FLAG_MOB_APP,DATE_DECISION,FLAG_WORKING_DAY_DECISION,RATE_PAYMENT_CASH_MIN,EXTRA_DP_RATE,EXTRA_DP_AMOUNT,NAME_CLASS_STATUS,ANON_SKP_CREDIT_CASE,AMT_CREDIT_NO_VAS,RISK_GRADE_CBN_POS,AMT_ANNUITY_WO_FEE,CANCELLATION_TYPE,TEXT_CANCELLATION_REASON,RG_PD,RG_SIMULATED,COLUMN1,COLUMN2,FLAG_RBP,FLAG_AFTER_RBP_ROLL_OUT,FLAG_RBP_WAVE_DATE,FLAG_RBP_WAVE_AREA,SNAPP_LOAN_APP_NO,LIN_SCORE_UNIVERSAL,PD_SCORE_UNIVERSAL,UNIVERSAL_RISK_GRADE,FIRST_BOD_CHANNEL,SECOND_BOD_CHANNEL,LIN_SCORE_UNIVERSAL_OLD,PD_SCORE_UNIVERSAL_OLD,UNIVERSAL_RISK_GRADE_OLD,FLAG_GUARANTEED_LIMIT,ID_CUID_UPDATED,SKP_CLIENT_UPDATED,REJECT_REASON,REJECTION_STAGE,REJECT_REASON_OWNER,REJECT_REASON_TOTAL,FLAG_PILOT_BVM,REL_RG,PRODUCT_TYPE_V2,PRERESULT_FANT_TYPE,PRERESULT_FANT_CODE,ATTRIBUTION_TYPE
0,7620828797,103513514271,2591125263,Cancelled,Other,2025-01-24 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,20,1,1,1,1,nan,nan,nan,F,XNA,Married,OWNED,1.0,1975-12-29 00:00:00,49.0,2013-07-01 00:00:00,City of Talisay,Government employee,OTHER,HEALTH,15000.0,IM_10+_17,0.0,NaN,0.0,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,Koyal_User,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,0,0,1,0,0,0,Y,Koyal_User,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,5270932435,-1,-79,14758352156,-1,0,0.0,0,CHERYL,*,SEDERIO,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,2025-01-24 00:00:00,1,-1.0,NaN,NaN,Acquisition,2c7bb64f-d2cf-26fc-e063-2206480ad9e7,0.0,nan,NaN,Cif,CUID_INCONSISTENCY,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,NaN,NaN,NaN,nan,GMA,nan,NaN,NaN,NaN,NaN,2591125263,5270932435,nan,nan,nan,NaN,NaN,NaN,XNA,nan,nan,nan
1,7620828859,103513236960,3261970684,In Preprocess,Other,2025-01-24 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,13,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,5903864491,-1,-79,-43,-1,0,0.0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2c8ff705-3a0b-940c-e063-2206480a4bab,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,3261970684,5903864491,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan
2,7620829014,103513485981,3791563137,In Preprocess,Other,2025-01-24 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,19,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,6205892385,-1,-79,-43,-1,0,0.0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2c8ff705-3a10-940c-e063-2206480a4bab,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,3791563137,6205892385,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan
3,7620829200,103513134127,4176812898,In Preprocess,Other,2025-01-24 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,11,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,6416806618,-1,-79,-43,-1,1,0.0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2c8ff705-3a15-940c-e063-2206480a4bab,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,4176812898,6416806618,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan
4,7620829262,103513068117,1147677784,In Preprocess,Other,2025-01-24 00:00:00,2025-01-20 00:00:00,2025-01-01 00:00:00,9,1,1,1,1,nan,nan,nan,nan,nan,nan,nan,NaN,nan,NaN,nan,nan,nan,nan,nan,NaN,nan,NaN,NaN,NaN,#Mobile Paperless,01429,STAND,GMA Virtual Salesroom,NaN,THYGSTU5I,nan,NaN,nan,nan,nan,nan,*,*,*,*,*,*,*,NaN,*,*,*,*,*,XNA,XNA,XNA,XNA,NaN,0,0,1,0,0,0,0,0,N,nan,NaN,NaN,NaN,No remittance,NaN,0,0,0,0,0,NaN,OTHER,nan,XNA,nan,nan,2815065794,-1,-79,-43,-1,0,0.0,0,nan,*,nan,*,0,POS,NaN,0,XNA,NaN,NaN,NaN,0,1,nan,1,NaN,NaN,NaN,nan,2c8ff705-3a1a-940c-e063-2206480a4bab,NaN,nan,NaN,nan,nan,N/A,nan,NaN,NaN,0.0,NaN,nan,NON-RBP,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,NaN,NaN,1147677784,2815065794,nan,nan,nan,NaN,NaN,NaN,POS,nan,nan,nan

## Process Data

In [46]:
insert_row_to_sql(df,df_base,schema,table_name,source_owner,source_table)

Fetching Oracle data types.
Time elapsed: 0.397961
Fetching python data types.
Time elapsed: 5.886757
Converting to sqlalchemy data types.
Commit.
Time elapsed: 1745.589588

# Bulk Insert Into SQL Table

In [47]:
bulk_insert_row_to_sql(df,df_base,schema,table_name)

Fetching Oracle data types.
Time elapsed: 0.616741
Fetching python data types.
Time elapsed: 8.859248
Converting to sqlalchemy data types.
Commit.
Execution time: 57.548907 s

# Merge Into SQL Table

In [48]:
connection_key = 'text_contract_number'
merge_to_sql(df_base,table_name,schema,query,connection_key)

Merged successfully. Commit.
Time elapsed: 5.931787

# Variable Merge Into SQL Table

In [49]:
query_c_date = f'''
with tab_base as
(
select /*+ materialize */
       dm.id_cuid
      -- Basic Scoring
      ,case
            when dm.text_contract_number is not null
            then 1 else 0
       end                                                                      flag_with_app
      ,dm.text_contract_number
      ,dm.date_application
      ,dm.pure_population
      ,dm.pure_population_pre
      ,dm.prelim1_strategy_type
      ,dm.risk_grade_prelim1
      ,dm.flag_with_offer_v2_prelim1
      ,dm.flag_with_offer_v2
      -- DPOS Tags
      ,dm.flag_with_dpos_offer_prelim1
      ,dm.flag_with_dpos_offer
      ,dm.code_prm_decision
      ,case when bs.text_contract_number is not null then 1
            when dm.text_contract_number is not null then 0
       end                                                                      flag_dpos_app
      -- Basic Scoring Decision
      ,dm.cnt_approve                                                           flag_approve
      ,dm.cnt_decided                                                           flag_decided
      ,dm.cnt_signed                                                            flag_signed
      -- Basic Scoring Scores
      ,sa.*
from ap_risk.pos_ec_datamart_tree dm
left join ap_risk.dpos_basic_scoring bs
       on bs.text_contract_number = dm.text_contract_number
      and bs.date_application >= c_date_start
      and bs.date_application <  c_date_end
left join ap_risk.uw_bi_scorecard_dtm sa
       on sa.skp_credit_case = dm.skp_credit_case
      and sa.date_decision >= c_date_start
      and sa.date_decision <  c_date_end
      and sa.scorecard_name in (
                               'EC_202201_GMv8_Main_Scorecard'
                              ,'EC_202110_GMv8_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Prelim_Scorecard'
                              ,'EC_202301_GMv10_Main_Scorecard'
                              )
where 1=1
      and dm.date_decision >= c_date_start
      and dm.date_decision <  c_date_end
)

, tab_gm_pillar as
(
select
       tb.*
from tab_base
unpivot(
        (pillar_name,num_score_value_linear_pillar,num_score_value_pillar)
        for num_pillar_code
        in (
            (pillar_1,   pillar_value_linear_1,  pillar_value_1)    as '1'
           ,(pillar_2,   pillar_value_linear_2,  pillar_value_2)    as '2'
           ,(pillar_3,   pillar_value_linear_3,  pillar_value_3)    as '3'
           ,(pillar_4,   pillar_value_linear_4,  pillar_value_4)    as '4'
           ,(pillar_5,   pillar_value_linear_5,  pillar_value_5)    as '5'
           ,(pillar_6,   pillar_value_linear_6,  pillar_value_6)    as '6'
           ,(pillar_7,   pillar_value_linear_7,  pillar_value_7)    as '7'
           ,(pillar_8,   pillar_value_linear_8,  pillar_value_8)    as '8'
           ,(pillar_9,   pillar_value_linear_9,  pillar_value_9)    as '9'
           )
       ) tb
)

select /*+ PARALLEL(scom,4) PARALLEL(scop,4) */
       count(1) over(partition by scom.id_cuid, scom.skp_credit_case) cnt_predictor_in_skp
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name) cnt_predictor_in_sco
      ,count(1) over(partition by scom.id_cuid, scom.skp_credit_case, scom.scorecard_name, scom.pillar_name) cnt_predictor_in_pil
      ,scom.*
      ,scop.num_predictor_code
      ,scop.predictor_name
      ,scop.predictor_value                                                     num_score_value_linear_predictor
      ,trunc(1/(1+exp(-(scop.predictor_value))),6)                              num_score_value_predictor
      ,scop.predictor_bin
from tab_gm_pillar scom
left join (
            select * from ap_risk.uw_bi_scorecard_predictors_dtm
            unpivot(
                    (predictor_name,predictor_value,predictor_bin)
                    for num_predictor_code
                    in (
                        (predictor_1,   predictor_score_1,  predictor_bin_1)    as '1'
                       ,(predictor_2,   predictor_score_2,  predictor_bin_2)    as '2'
                       ,(predictor_3,   predictor_score_3,  predictor_bin_3)    as '3'
                       ,(predictor_4,   predictor_score_4,  predictor_bin_4)    as '4'
                       ,(predictor_5,   predictor_score_5,  predictor_bin_5)    as '5'
                       ,(predictor_6,   predictor_score_6,  predictor_bin_6)    as '6'
                       ,(predictor_7,   predictor_score_7,  predictor_bin_7)    as '7'
                       ,(predictor_8,   predictor_score_8,  predictor_bin_8)    as '8'
                       ,(predictor_9,   predictor_score_9,  predictor_bin_9)    as '9'
                       ,(predictor_10,  predictor_score_10, predictor_bin_10)   as '10'
                       ,(predictor_11,  predictor_score_11, predictor_bin_11)   as '11'
                       ,(predictor_12,  predictor_score_12, predictor_bin_12)   as '12'
                       ,(predictor_13,  predictor_score_13, predictor_bin_13)   as '13'
                       ,(predictor_14,  predictor_score_14, predictor_bin_14)   as '14'
                       ,(predictor_15,  predictor_score_15, predictor_bin_15)   as '15'
                       ,(predictor_16,  predictor_score_16, predictor_bin_16)   as '16'
                       ,(predictor_17,  predictor_score_17, predictor_bin_17)   as '17'
                       ,(predictor_18,  predictor_score_18, predictor_bin_18)   as '18'
                       )
                   )
            where 1=1
                  and date_decision >= c_date_start
                  and date_decision <  c_date_end
          ) scop
       on scop.skp_credit_case = scom.skp_credit_case
      and scop.date_decision = scom.date_decision
      and scop.pillar_name = scom.pillar_name
'''
c_date_start = "DATE '2025-01-24'"
c_date_end = "DATE '2025-01-30'"

source_owner = 'AP_RISK'
source_table = 'AH_RBB_POS_EC_SCORECARD_MONITORING'
connection_key = ['skp_credit_case','scorecard_name','pillar_name','predictor_name']

timeout = 60 # default = 60 seconds
temporal = 'days' # days, weeks, months, years
increment = 1

## Process Data

In [50]:
var_merge_to_sql(schema,source_table,source_owner,
                 query_c_date,c_date_start,c_date_end,
                 connection_key,timeout,temporal,increment)

Fetching Oracle data types.
Time elapsed: 0.496798
Fetching python data types.
Time elapsed: 0.128201
Converting to sqlalchemy data types.
Dataframe created. Time elapsed: 6.341520 s
Execution time: 6.341520 s
Timeline: DATE '2025-01-24' to DATE '2025-01-28'
Process takes too long. Partitioning timeline by day and populating individually.
Time elapsed: 60.170243
Timeline: DATE '2025-01-24' to DATE '2025-01-25'
Merged successfully. Commit.
Time elapsed: 1580.347120
Timeline: DATE '2025-01-25' to DATE '2025-01-26'
Merged successfully. Commit.
Time elapsed: 613.534463
Timeline: DATE '2025-01-26' to DATE '2025-01-27'
Merged successfully. Commit.
Time elapsed: 560.414301
Timeline: DATE '2025-01-27' to DATE '2025-01-28'
Merged successfully. Commit.
Time elapsed: 506.070499
Chunks merge done. Time elapsed: 3260.369403 s