# Initialize

In [ ]:
import warnings
# Ignore all warnings
warnings.filterwarnings('ignore')

In [ ]:
import hc_uwi
from hc_uwi import *

# Display all columns in dataframe
pd.options.display.max_columns = None

In [ ]:
schema = 'MY_DB_SCHEMA'
my_credentials = get_credentials('my_credentials.txt',schema)

# Built-in functions

### SQL query to object creation
<ol>
    <li> query_to_df(query,schema,chunk_size=1000000) </li>
    <li> query_to_df_whole_timeline(query,schema,date_start,date_end,chunk_size=1000000) </li>
    <li> var_query_to_df(
        query_c_date,schema,date_start,date_end,
        time_out=60,temporal='days',increment=1,chunk_size=1000000) </li>
    <li> query_to_excel(schema,query,fname,sheet_name=None,chunk_size=1000000) </li>
    <li> query_create_table(query,schema,table_name,source_owner='TEST_OWNER',source_table='TEST_TABLE') </li>
    <li> query_create_gtt(query,schema,table_name,source_owner='TEST_OWNER',source_table='TEST_TABLE') </li>
    <li> query_merge(df,query,schema,table_name,connection_key) </li>
    <li> query_create_package(query,query_sample,schema,table_name,connection_key) </li>
    <li> query_merge_when_matched_and_or_not_matched(query,schema,table_name) </li>
    <li> query_insert_when_not_matched(query,schema,table_name) </li>
</ol>

### Data Cleaning/Manipulation
<ol>
    <li> replace_special_char(string,character) </li>
    <li> remove_digits(string) </li>
    <li> remove_end_char(string,character) </li>
    <li> clean_char(string,character) </li>
    <li> days_between(d1,d2,temporal='days') </li>
    <li> ora_date_to_pydate(var_date) </li>
    <li> ora_date_inc(var_date,temporal,increment) </li>
    <li> df_fix_dtype(df,schema,dtyp=None) </li>
    <li> replace_word_containing_substring(text, substring, replacement) </li>
    <li> var_query_fstring(text,c_date_start,c_date_end) </li>
    <li> fix_ora_string(string,substr="'",new_substr="''") </li>
    <li> fix_ora_col_length(df1,df2,engine,cursor,schema,table_name,source_owner,source_table) </li>
    <li> split_dataframe(df, chunk_size) </li>
    <li> get_py_dtyp_as_dict(df) </li>
    <li> get_sqlalchemy_dtyp_dict(df,engine,source_owner='TEST_OWNER',source_table='TEST_TABLE') </li>
    <li> get_ora_dtyp_dict(df,engine,source_owner='TEST_OWNER',source_table='TEST_TABLE') </li>
    <li> get_ora_dtyp_varchar_dict(df,engine,source_owner='TEST_OWNER',source_table='TEST_TABLE') </li>
    <li> check_dtime(series) </li>
    <li> is_nan(val) </li>
    <li> excel_df_fix_strftime(df) </li>
</ol>

### Create/Modify SQL objects
<ol>
    <li> df_to_sql(df,schema,table_name,dtyp=None,is_dtyp_fixed='NO') </li>
    <li> excel_to_sql(fname,schema,table_name,sheet_name,dtyp=None) </li>
    <li> merge_to_sql(query,query_sample,schema,table_name,connection_key) </li>
    <li> var_merge_to_sql(schema,source_table,source_owner,
        query_c_date,query_sample,date_start,date_end,
        connection_key,time_out=60,temporal='days',increment=1,direction=1) </li>
    <li> insert_row_to_sql(df,df_base,schema,table_name,source_owner,source_table) </li>
    <li> bulk_insert_row_to_sql(df,df_base,schema,table_name) </li>
    <li> create_table_sql(query,fname,schema,table_name,sheet_name) </li>
</ol>